main.main {
  padding: 0;
  min-height: var(--content-vh);
}

.news_item:first-of-type {
  border-top: 0 !important;
}

.news_item:first-of-type:before {
  content: "";
  position: absolute;
  left: var(--margin); /* ← padding-left */
  right: var(--margin); /* ← padding-right */
  top: 0;
  height: 1px;
  background: none;
  pointer-events: none; /* prevent overlap on interactions */
}

.news_container {
  margin-bottom: var(--margin-end);
}
