main.main {
  padding: 0;
}

.filter_header::after {
  display: none;
}

.text_column {
  background: #fff;
}

.divider {
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height));
  width: calc(100% - 2 * var(--margin));
  left: var(--margin);
}

.portrait_desktop {
  display: none;
  position: sticky;
  top: calc(var(--header-height) + var(--filter-height));
  align-self: start;
  height: calc(100vh - var(--header-height) - var(--filter-height)) !important;
  width: calc(100% + var(--margin)) !important;
}

.counter {
  display: inline-block;
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height) + var(--margin));
  left: var(--margin);
  z-index: 3;
}

.portrait_mobile {
  width: 40vw !important;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.info_container {
  margin-top: 50px !important;
}

.portrait_desktop .label {
  display: none;
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .divider {
    position: fixed;
    top: calc(var(--header-height) + var(--filter-height));
    width: calc(50% - 2 * var(--margin));
    left: var(--margin);
  }

  .portrait_mobile {
    display: none !important;
  }

  .portrait_desktop {
    display: block;
    width: 50vw !important;
    /* position: relative; */
  }

  .label {
    position: absolute !important;
    top: var(--margin) !important;
    right: var(--margin) !important;
    width: fit-content !important;
    z-index: 2;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
