.main {
  padding: 0 !important;
}

.filterHeader {
  border-bottom: 1px solid black;
}

/* The full “split-scroll” section */
.mediaPair {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.mediaPair.lead {
  height: var(--content-vh);
  position: sticky;
  top: calc(var(--header-height) + var(--filter-height));
  overflow: scroll;
}

.mediaPair.trail {
  padding-bottom: calc(var(--content-vh) / 6);
}

.title {
  height: var(--content-vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: calc(var(--margin) * 3);
}

.fullscreenMedia {
  height: var(--content-vh);
}

/* Article Text */
.articleImage {
  grid-column: 4 / 9 !important;
  position: sticky !important;
  top: 0;
  height: calc(100vh - var(--header-height) - var(--filter-height)) !important;
  object-fit: contain;
}

/* Left column — sticky image */
.cover_media {
  grid-column: 1 / 14;
  position: sticky !important;
  top: 0;
  height: calc(100vh - var(--header-height) - var(--filter-height)) !important;
}

.interview_text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 2);

  padding: 0 calc(100% / 12);
  grid-column: 13 / 25;
  align-self: start;
  padding-bottom: calc(var(--margin) * 3);
}

.fullscreenMedia {
  position: relative;
  z-index: 1;
}

.speaker {
  text-transform: uppercase;
}

.gallery {
  height: var(--content-vh) !important;
  max-width: 100vw;
  overflow: hidden;
}

.blur_container {
  padding-top: calc(var(--margin) * 3);
}

.interview_continuation {
  padding-top: calc(var(--margin) * 3);
  grid-column: 14 / 24;
  align-self: start;
  padding-bottom: calc(var(--content-vh) / 6);
}
