.main {
  padding: 0 !important;
}

.filterHeader {
  border-bottom: 1px solid black;
}

/* The full “split-scroll” section */
.mediaPair {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.mediaPair.start {
  /* height: var(--content-vh); */
  /* position: sticky; */
  /* top: calc(var(--header-height) + var(--filter-height)); */
  /* overflow: scroll; */
}

.mediaPair.end {
  padding-bottom: calc(var(--content-vh) / 6);
}

.title {
  height: var(--content-vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: calc(var(--margin) * 3);
}

/* Left column — sticky image */
.cover_media {
  grid-column: 1 / 14;
  position: sticky !important;
  top: calc(var(--header-height) + var(--filter-height));
  height: var(--content-vh) !important;
  align-self: start;
  width: 50%;
  display: inline-block;
}

.interview_text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 2);

  padding: 0 calc(100% / 24);
  grid-column: 13 / 25;
  align-self: start;
  padding-bottom: calc(var(--margin) * 3);
  width: 50%;
  left: 50%;
  position: relative;
  top: calc(-1 * var(--content-vh));
  margin-bottom: calc(-1 * var(--content-vh));
}

.fullscreenMedia {
  height: var(--content-vh);
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.speaker {
  text-transform: uppercase;
}

.gallery {
  height: var(--content-vh) !important;
  max-width: 100vw;
  overflow: hidden;
  margin-bottom: 50px;
}

.blur_container {
  padding-top: calc(var(--margin) * 3);
}

.interview_continuation {
  padding-top: calc(var(--margin) * 3);
  grid-column: 14 / 24;
  align-self: start;

  padding: 0 calc(100% / 12);
}

.articleImage {
  grid-column: 4 / 9 !important;
  position: sticky !important;
  top: calc(var(--header-height) + var(--filter-height));
  height: calc(100vh - var(--header-height) - var(--filter-height)) !important;
  object-fit: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  padding-top: calc(100% / 12);
  padding-bottom: calc(var(--content-vh) / 6);
}

.longcopy {
  position: relative;
  max-width: var(--max-width-longcopy);
  margin: 0 auto;
}

.longcopy::before {
  content: "";
  display: block;
  aspect-ratio: 12 / 1; /* Same as 100% / 12 padding */
  width: 100%;
}
