.container {
  display: flex;
  flex-wrap: wrap;

  max-width: 100vw;
  overflow: hidden;
}

.large {
  flex: 0 0 50%;
  min-width: 0;
  /* width: 50vw; */
  height: calc(var(--content-vh));
}

.large div {
  width: 100%;
  height: 100%;
}

.landscape {
  flex: 0 0 50%;
  height: calc(var(--content-vh) / 2);
  min-width: 0;
}

.landscape div {
  width: 100%;
  height: 100%;
}

.medium {
  width: 25%;
  flex: 0 0 25%;
  height: calc(var(--content-vh) / 2);
}

.medium div {
  width: 100%;
  height: 100%;
}

main.main {
  padding-top: 0;
  padding-bottom: 0;
}
