li.comment {
  height: calc(100vh - var(--header-height) - var(--filter-height));

  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 calc(100% / 12);
  justify-content: center;
}

.info_body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  z-index: 2;
  backdrop-filter: blur(var(--blur));
}

.social {
  opacity: 0.3;
  transition: 0.3s ease-in-out;
}
.social:hover {
  opacity: 1;
}

.info_cell {
  border-left: 1px solid var(--foreground);
  height: fit-content;

  /* ⚠️ Deduct margin from top value */
  padding: 8px 12px;
  margin-top: 2px;
}

.info_container {
  /* padding: 0 40px; */
  padding: 0 calc(100% / 12);
  padding-bottom: calc(100% / 12);
  background: #fff;
  z-index: 1;
  position: relative;
  margin-top: 50%;
}
