li.comment {
  height: calc(100vh - var(--header-height) - var(--filter-height));

  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 calc(100% / 12);
  justify-content: center;
}

.info_body {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;

  z-index: 2;
  backdrop-filter: blur(var(--blur));
}

.social {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}
.social:hover {
  opacity: 1;
}

.info_cell {
  border-left: 1px solid var(--foreground);
  height: fit-content;

  /* ⚠️ Deduct margin from top value */
  padding: var(--margin-small) var(--margin);
  margin-top: 2px;
}

.info_container {
  /* padding: 0 calc(100% / 12); */
  width: var(--width-longcopy);
  max-width: var(--max-width-longcopy);

  margin: 0 auto;
  padding-bottom: calc(100% / 12);
  background: #fff;
  background: transparent;
  z-index: 1;
  position: relative;
  margin-top: 50%;
}

.current_event {
  position: fixed;
  bottom: calc(var(--margin) * 2);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.current_event .event_title {
  white-space: nowrap;
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .info_container {
    min-width: var(--min-width-longcopy);
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .current_event {
    left: 25%;
  }
  .current_event .event_title {
    white-space: normal;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
