main.main {
  padding: 0;
}

.filter_header::after {
  display: none;
}

.text_column {
  background: #fff;
}

.divider {
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height));
  width: calc(50% - 2 * var(--margin));
  left: var(--margin);
}

.portrait {
  position: sticky;
  top: calc(var(--header-height) + var(--filter-height));
  align-self: start;
  height: calc(100vh - var(--header-height) - var(--filter-height)) !important;
  width: calc(100% + var(--margin)) !important;
}

.counter {
  display: inline-block;
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height) + var(--margin));
  left: var(--margin);
}
