:global(.mediaPair) {
  display: grid;
  grid-template-rows: auto auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1px;
}

:global(.mediaPair) > :first-child {
  height: 100%;
  width: 100%;
}
:global(.mediaPair) > :last-child {
  height: 100%;
  width: 100%;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  :global(.mediaPair) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
