.title {
  position: fixed;
  width: calc(100vw - calc(2 * var(--margin)));
  height: fit-content;
  pointer-events: none;
  bottom: var(--margin);
  left: var(--margin);
  line-height: 0;
  z-index: 0;
}
