/* .pineaIcon {
  position: fixed;
  width: calc(100vw - calc(2 * var(--margin)));
  height: fit-content;
  pointer-events: all;
  bottom: var(--margin);
  left: var(--margin);
  line-height: 0;
  z-index: 2;
}

@media screen and (min-width: 769px) {
  .pineaIcon {
    pointer-events: none;
  }
} */
