.doubleFeature > div,
.doubleFeature > div > div,
.doubleFeature > div > div > div,
.doubleFeature > div > div > div > div,
.doubleFeature > div > div > div > div > div {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}

.doubleFeature {
  height: auto;
  transition: gap 0.3s ease;
}

.doubleFeature > :last-child,
.doubleFeature > :first-child {
  width: 100vw !important;
}

.doubleFeature.clicked {
  gap: 25px !important;
}

@media screen and (min-width: 769px) {
  .doubleFeature {
    height: calc(100vh - var(--header-height) - var(--filter-height));
  }

  .doubleFeature > :last-child,
  .doubleFeature > :first-child {
    width: auto !important;
  }

  .doubleFeature.clicked {
    gap: 1px !important;
  }
}
