.interviewer {
  margin-left: var(--text-indent); /* moves the whole text block to the right */
  position: relative; /* allow absolute positioning of initials */
}

.interviewee {
  position: relative; /* allow absolute positioning of initials */
  text-indent: var(--text-indent);
}

.initials {
  position: absolute;
  left: calc(-1 * var(--text-indent)); /* move initials back into the left margin */
  top: calc(var(--line-height-longcopy) - var(--font-size-4));
}

.link {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.link:hover {
  opacity: 1;
}

.separator {
  text-align: center;
  padding: calc(var(--line-height-longcopy) * 2);
}
