main.main {
  padding: 0;
}

.text {
  padding: var(--margin);
  padding-bottom: var(--margin-end);
}

.membership_container {
  justify-content: space-between;
}

.showcaseImage {
  width: 20vw !important;
}

.memberships {
  padding-bottom: 50vh;
}

.opening {
  width: 100vw;
  height: var(--content-vh);
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height));
  left: 0;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
