main.main {
  padding: 0;
}

.pineaIcon {
  position: fixed;
  width: calc(100vw - calc(2 * var(--margin)));
  height: fit-content;
  pointer-events: all;
  bottom: var(--margin);
  left: var(--margin);
  line-height: 0;
  z-index: 2;
}

.media_container {
  transform: translate(-50%, -25%);
}

@media screen and (min-width: 769px) {
  .pineaIcon {
    pointer-events: none;
  }

  .media_container {
    transform: translate(-50%, -33%);
  }
}

.text {
  padding: var(--margin);
  padding-bottom: var(--margin-end);
}

.membership_container {
  justify-content: space-between;
}

.showcaseImage {
  width: var(--showcase-width) !important;
}

.memberships {
  padding-bottom: 50vh;
}

.opening {
  width: 100vw;
  height: var(--content-vh);
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height));
  left: 0;
}

.button {
  align-self: end;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
