main.main {
  padding-top: 0;
  padding-bottom: 0;
}

.blur_container {
  backdrop-filter: blur(var(--blur));
  position: relative;
  z-index: 3;
  width: 100vw;
  left: var(--margin-negative);
  padding: var(--margin);

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto auto auto;
  height: auto;
  row-gap: var(--margin-end);
}

.text {
  grid-row: 1;
  grid-column: 1 / 25;
}

.people {
  grid-row: 2;
  grid-column: 9 / 16;
}

.contacts {
  grid-row: 3;
  grid-column: 7 / 18;
}

.contacts {
  grid-row: 3;
  grid-column: 7 / 18;

  display: flex;
  flex-direction: row; /* stack children vertically */
  justify-content: space-evenly;
  padding-bottom: calc(100% / 4);
}
