main.main {
  padding: 0;
}

.blur_container {
  backdrop-filter: blur(var(--blur));
  position: relative;
  z-index: 3;
  /* width: 100vw; */
  /* left: var(--margin-negative); */
  padding: var(--margin);

  height: auto;
  gap: var(--margin-end);
  display: flex;
  flex-direction: column;
}

.text {
  padding: var(--margin);
}

/* .people {
  grid-row: 2;
  grid-column: 9 / 16;
} */

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: var(--margin-end);
  gap: 36px;
  position: relative;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  /* align-items: center; */
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .blur_container {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(24, 1fr);
  }

  .text {
    grid-row: 1;
    grid-column: 1 / 25;
  }
  .contacts {
    grid-row: 1;
    grid-column: 7 / 19;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10vw;
    align-items: unset;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
