main.main {
  padding: 0;
}

.content {
  padding: var(--margin);
}

.missionStatement {
  padding-bottom: var(--margin-end);
}

.pineaIcon {
  position: fixed;
  width: calc(100vw - calc(2 * var(--margin)));
  height: calc((100vw - calc(2 * var(--margin))) / 4.4);
  bottom: var(--margin);
  left: var(--margin);
  line-height: 0;
  z-index: 2;
}

.mircoFooter {
  padding: 0 !important;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 36px;
  position: relative;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding-bottom: var(--margin-end);
}

.contacts > li {
  flex: 0 0 calc(50% - 36px);
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .contacts {
    display: flex;
    flex-wrap: unset;
    width: fit-content;
    grid-row: 1;
    grid-column: 7 / 19;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10vw;
    align-items: unset;
  }
  .contacts > li {
    flex: unset;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
