.cover_media {
  width: 100%;
  height: 100%;
}

.cover_media > div,
.cover_media > div > div,
.cover_media > div > div > div,
.cover_media > div > div > div > div,
.cover_media > div > div > div > div > div {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}
