main.main {
  padding: 0;
}

.opening {
  width: 100vw;
  height: var(--content-vh);
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height));
  left: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;

  max-width: 100vw;
  overflow: hidden;
}

.full {
  flex: 0 0 100%;
  min-width: 0;
  height: calc(var(--content-vh));
}

.half {
  flex: 0 0 50%;
  min-width: 0;
  /* width: 50vw; */
  height: calc(var(--content-vh));
}

.quarter {
  flex: 0 0 50%;
  height: calc(var(--content-vh) / 2);
  min-width: 0;
  position: relative;
  /* height: 25vh; */
}

.eigth {
  flex: 0 0 25%;
  height: calc(var(--content-vh) / 2);
  min-width: 0;
  position: relative;
}

.full div,
.half div,
.quarter div,
.eigth div {
  width: 100%;
  height: 100%;
}
