main.main {
  padding-top: 0;
}

main.main section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 150px;
}
main.main section h3 {
  text-align: center;
  margin-bottom: calc(var(--margin) * 2);
}

.countries_filter {
  display: flex;
  gap: 4px;
  justify-content: center;
  padding: var(--margin);

  position: sticky;
  top: calc(var(--header-height));
  background: var(--background);
  z-index: 3;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.countries_filter li {
  cursor: pointer;
  opacity: 0.4;
}

.countries_filter li.active {
  opacity: 1;
}
.countries_filter li:hover {
  opacity: 1;
}
