main.main {
  padding: 0;
}

main.main section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 150px;
}
main.main section h3 {
  text-align: center;
  margin-bottom: calc(var(--margin) * 2);
}

.filter_header::after {
  height: 0px !important;
  background: transparent !important;
}

section.calendar {
  width: 100vw;
}

.blink {
  animation: blink 0.5s ease 0s 3 normal forwards;
}

@keyframes blink {
  0% {
    filter: none;
  }
  40% {
    filter: invert(1);
  }
  60% {
    filter: invert(1);
  }
  100% {
    filter: none;
  }
}
