main.main {
  padding: 0;
}

main.main section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 150px;
}
main.main section h3 {
  text-align: center;
  margin-bottom: calc(var(--margin) * 2);
}

.filter_header {
}

.filter_header::after {
  height: 0px !important;
  background: transparent !important;
}

section.calendar {
  width: 100vw;
}
