.interviewer {
  margin-left: 65px; /* moves the whole text block to the right */
  position: relative; /* allow absolute positioning of initials */
}

.interviewee {
  position: relative; /* allow absolute positioning of initials */
  text-indent: 65px;
}

.initials {
  position: absolute;
  left: -65px; /* move initials back into the left margin */
  top: calc(var(--line-height-longcopy) - var(--font-size-4));
}
