main.main {
  min-height: calc(100vh - var(--header-height));
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
}

.title_container {
  min-height: var(--content-vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: calc(var(--margin) * 3);

  position: sticky;
  top: calc(100vh - var(--content-vh));
  height: var(--content-vh);
}

.author {
  position: absolute;
  bottom: calc(var(--margin) * 3) !important;
}

.title {
  text-transform: uppercase;
  text-align: center;
  max-width: 950px;
}

.articleImage {
  position: sticky !important;
  top: calc(var(--header-height) + var(--filter-height));
  /* height: calc(100vh - var(--header-height) - var(--filter-height)) !important; */
  object-fit: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.longcopy {
  padding-top: calc(var(--margin) * 3) !important;
  align-self: start;

  padding: 0 calc(100% / 12);
}

.longcopy {
  position: relative;
  max-width: var(--max-width-longcopy);
  margin: 0 auto;
}

.longcopy::before {
  content: "";
  display: block;
  aspect-ratio: 12 / 1; /* Same as 100% / 12 padding */
  width: 100%;
}

.mediaPair {
  padding-bottom: calc(var(--margin) * 3);
}

.mediaPair.second {
  margin-bottom: var(--margin-end);
}

.mediaPair.first .articleImage {
  grid-column: 15 / 23 !important;
}

.mediaPair.first .longcopy {
  grid-column: 2 / 12 !important;
}

.quote {
  margin-bottom: 100px;
}

.quote h2 {
  text-transform: none !important;
}

.mediaPair.second .articleImage {
  grid-column: 4 / 10 !important;
}

.mediaPair.second .longcopy {
  grid-column: 14 / 24 !important;
}

.doubleFeature {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}

.doubleFeature div {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}
