main.main {
  min-height: calc(100vh - var(--header-height));
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
}

.title_container {
  min-height: var(--content-vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: calc(var(--margin) * 3);

  position: sticky;
  top: calc(100vh - var(--content-vh));
  height: var(--content-vh);
}

.author {
  position: absolute;
  bottom: calc(var(--margin) * 3) !important;
}

.title {
  text-transform: uppercase;
  text-align: center;
  max-width: 950px;
}

.title p {
  margin-bottom: 0;
}

.articleImage {
  position: sticky !important;
  top: calc(var(--header-height) + var(--filter-height));
  /* height: calc(100vh - var(--header-height) - var(--filter-height)) !important; */
  object-fit: contain;
  height: var(--content-vh);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.longcopy:first-of-type {
  padding-top: 50px !important;
}
.longcopy {
  align-self: start;

  /* padding: 0 calc(100% / 12); */
}

.longcopy {
  position: relative;
  max-width: var(--max-width-longcopy);
  margin: 0 auto;
}

.gallery {
  height: var(--content-vh) !important;
  max-width: 100vw;
  overflow: hidden;
  margin-bottom: 50px;
}

.spacer {
  height: var(--margin-end);
}

.mediaPair {
  padding-bottom: 150px;
}

.mediaPair.second {
  /* margin-bottom: var(--margin-end); */
}

.mediaPair.first .articleImage {
  grid-column: 15 / 23 !important;
}

.mediaPair.first .longcopy {
  grid-column: 2 / 12 !important;
}

.quote {
  margin-bottom: 150px;
}

.quote h2 {
  text-transform: none !important;
}

.mediaPair.second .articleImage {
  grid-column: 4 / 10 !important;
}

.mediaPair.second .longcopy {
  grid-column: 14 / 24 !important;
}

.label {
  position: absolute !important;
  top: var(--margin) !important;
  right: var(--margin) !important;
  width: fit-content !important;
  z-index: 10;
}
