.opening {
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .calendar {
  position: relative;
  width: calc(100vw - calc(2 * var(--margin)));
  left: 0;
} */

.calendar {
  width: 100vw;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}

.section.portfolio {
  height: 80vh;
}

.section:last-child {
  margin-bottom: 0;
}

.section > h3 {
  margin-bottom: 36px;
}

.blur_container {
  backdrop-filter: blur(var(--blur));
  position: relative;
  z-index: 3;
  width: 100dvw;
}

.member_cta {
  background: var(--foreground);
  color: var(--background);
  padding: var(--margin);

  display: flex;
  flex-direction: column;

  height: 100vh;
  align-items: center;
}
.member_cta h3 {
  text-align: center;
  margin-bottom: 0;
}

.media_container {
  display: flex;
  justify-content: center; /* center image horizontally */
  width: 50%;
  margin: auto;
}

.open_calls_wrapper {
  width: 100vw;
  padding: var(--margin);
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
