.opening {
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .calendar {
  position: relative;
  width: calc(100vw - calc(2 * var(--margin)));
  left: 0;
} */

.showcaseImage {
  width: 20vw !important;
}

.calendar {
  width: 100vw;
}

.review_teaser {
  margin-top: calc(var(--margin) * 3);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-end);
}

.section.portfolio {
  height: 80vh;
}

.section:last-child {
  margin-bottom: 0;
}

.section > h3 {
  margin-bottom: 36px;
}

.blur_container {
  backdrop-filter: blur(var(--blur));
  position: relative;
  z-index: 3;
  width: 100dvw;
}

.open_calls_wrapper {
  width: 100vw;
  /* padding: var(--margin); */
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
