.opening {
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.showcaseImage {
  width: var(--showcase-width) !important;
}

.calendar {
  width: 100vw;
}

.review_teaser {
  margin-top: calc(var(--margin) * 3);
}

.section {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-end);
}

.section:last-of-type {
  margin-bottom: 0;
}

.section.portfolio {
  height: 80vh;
}

.section > h3 {
  margin-bottom: 36px;
  text-align: center;
}

.blur_container {
  /* margin-bottom: calc(100vh - 42vh - (var(--margin))); */
}

.person_preview_container {
  height: 100vh !important;
}

.person_preview_container figcaption {
  position: absolute;
  bottom: 0;
  color: #fff !important;
}

.person_preview {
  width: 100%;
}

.open_calls_wrapper {
  width: 100vw;
  /* padding: var(--margin); */
}

.feature h2 p {
  margin-bottom: 0;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
