.opening {
  height: 100vh;
}

.pineaIcon {
  position: fixed;
  width: calc(100vw - calc(2 * var(--margin)));
  height: fit-content;
  pointer-events: all;
  bottom: var(--margin);
  left: var(--margin);
  line-height: 0;
  z-index: 2;
}

@media screen and (min-width: 769px) {
  .pineaIcon {
    pointer-events: none;
  }
}

.enter_button {
  background: #000 !important;
  color: #fff !important;
  position: absolute;
  bottom: 30vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 40;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.showcaseImage {
  width: var(--showcase-width) !important;
}

.calendar {
  width: 100vw;
}

.review_teaser {
  margin-top: calc(var(--margin) * 3);
}

.section {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-end);
}

.section:last-of-type {
  margin-bottom: 0;
}

.section.portfolio {
  height: 60vh;
}

.section > h3 {
  margin-bottom: 36px;
  text-align: center;
}

.blur_container {
  margin-bottom: calc(100vh - 42vh - (var(--margin)));
  width: 100dvw;
  overflow-x: hidden;
}

.text_carousel {
  position: absolute;
  bottom: var(--margin);
}

/* .pineaIcon {
  bottom: calc((var(--margin) * 2) + var(--line-height-3));
} */

.people_media_container {
  width: 50%;
  align-self: center;
}

.person_preview_container {
  height: 80vh !important;
  position: relative;
  display: flex;
  justify-content: center;
  /* border-top: 1px solid #000; */
  /* border-bottom: 1px solid #000; */
}

.person_preview_container::before {
  content: "";
  position: absolute;
  left: -1; /* ← padding-left */
  right: 0; /* ← padding-right */
  top: 0px;
  height: 1px;
  background: #000;
  pointer-events: none; /* prevent overlap on interactions */
}

.person_preview_container::after {
  content: "";
  position: absolute;
  left: -1; /* ← padding-left */
  right: 0; /* ← padding-right */
  bottom: 0px;
  height: 1px;
  background: #000;
  pointer-events: none; /* prevent overlap on interactions */
}

.person_preview_text {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
}

.person_preview {
  width: 100%;
}

.person_preview_title {
  position: absolute;
  z-index: 2;
  text-align: center;
  padding-top: var(--margin);
  color: #000;
}

.open_calls_wrapper {
  width: 100vw;
  /* padding: var(--margin); */
}

.feature h2 p {
  margin-bottom: 0;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .section.portfolio {
    height: 80vh;
  }

  .person_preview_container {
    height: 100vh !important;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
