.searchResultTitle {
  transition: var(--transition);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}

.searchResultTitle:hover {
  opacity: 0.4;
}

.pineaIcon {
  position: fixed;
  width: calc(100vw - calc(2 * var(--margin)));
  /* Height based on aspect-ratio */
  height: calc((100vw - calc(2 * var(--margin))) / 4.4);
  pointer-events: all;
  bottom: var(--margin);
  left: var(--margin);
  line-height: 0;
  z-index: 2;
  filter: blur(var(--blur));
  pointer-events: none;
}

.searchResultsOuter {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 35;
  background: var(--background);
  color: var(--foreground);
  padding: var(--margin);
}

.searchResultsInner {
  position: relative;
  overflow-y: scroll;
  top: var(--header-height-total);
  height: calc(100vh - var(--header-height));
}

.searchResultGroup {
  margin-bottom: calc(var(--margin) * 3);
}

.searchResultGroup .label {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--calendar-cell-margin-top);
}

/* Searchbar */

.searchbarContainer {
  width: -webkit-fill-available;
  /* background: blue; */
}

.searchbar {
  width: -webkit-fill-available;
  /* position: relative; */
  /* top: -2px; */
}

.searchbarContainer {
  position: absolute;
  right: 60px;
}

.fade_top,
.fade_bottom {
  position: absolute;
  left: 0;
  z-index: 35;
  height: 30px;
  width: 100%;
  pointer-events: none;
}

.fade_top {
  top: calc(var(--header-height) + 10px);
  background: linear-gradient(to bottom, var(--background, white) 0%, transparent 100%);
}

.fade_bottom {
  bottom: 0;
  background: linear-gradient(to top, var(--background, white) 0%, transparent 100%);
}

@media screen and (min-width: 769px) {
  .searchbarContainer {
    width: auto;
  }

  .searchbar {
    width: auto;
    top: unset;
  }

  .searchbarContainer {
    position: relative;
    right: unset;
  }
}

@media screen and (min-width: 1280px) {
  .searchbar {
    width: auto;
    top: unset;
  }
}
