#footer {
  background: var(--foreground);
  color: var(--background);

  width: 100vw;
  position: relative;
  left: 0;
  bottom: 0;

  z-index: 4;
  padding: var(--margin);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 42vh;

  margin-top: 50vh;
}

.credits {
  display: grid;
  grid-template-columns: 30vw auto;
  align-items: end;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.newsletter input {
  all: unset;
}

.icon {
  mix-blend-mode: difference;
  height: 45px;
  aspect-ratio: 3.5;
  /* width: 100%; */
  fill: #fff;
}

#footer .credits a,
#footer .credits a:visited {
  color: var(--background);
}
