#footer {
  position: relative;
  left: 0;
  bottom: 0;

  width: 100%;

  background: var(--foreground);
  color: var(--background);

  padding: var(--margin);
  z-index: 30;
  padding-bottom: calc(var(--margin) * 2);
}

#footer.full {
  display: flex;
  flex-direction: column;
  height: 42vh;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
}

#footer.mini {
  display: flex;
}

#footer.micro {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  position: relative;

  background: transparent !important;
  color: var(--foreground);
  padding-bottom: var(--margin);
}

#footer.full #footer.mini {
  position: relative;
  left: var(--margin-negative);
  padding-bottom: 0;
  height: auto;
  align-items: flex-end;
}

#footer.full #footer.mini .logo > div:last-child {
  display: none;
}

.micro a,
.micro a:visited {
  color: var(--foreground) !important;
}
.micro {
  padding: var(--margin);
}
.micro .logo {
  grid-column: 1 / 12;
}
.micro .imprint {
  grid-column: 18 / 21;
}

.micro .contact {
  grid-column: 21 / 24;
}

.icon {
  mix-blend-mode: difference;
  fill: #fff;
  cursor: pointer;
  max-height: 30px !important;
  max-width: 80px !important;
  width: auto !important;
  height: auto !important;
}

#footer.mini .logo {
  display: none;
}

#footer.mini .institutions {
  display: flex;
  flex-direction: column;
}

.resource_wrapper {
  justify-content: space-between;
  width: 100%;
}

@media (max-height: 500px) and (orientation: landscape) {
  #footer.full {
    height: 50vh;
  }
}

@media screen and (min-width: 769px) {
  .resource_wrapper {
    width: fit-content;
    justify-content: unset;
    gap: 50px;
  }

  #footer.mini {
    display: flex;
    justify-content: space-between;
    height: 55px;
    padding-right: 25px;
  }

  #footer {
    padding-bottom: var(--margin);
  }

  #footer.mini .logo {
    display: block;
  }
}
