#footer {
  position: relative;
  left: 0;
  bottom: 0;

  width: 100vw;

  background: var(--foreground);
  color: var(--background);

  padding: var(--margin);
  z-index: 4;
  padding-bottom: calc(var(--margin) * 2);
}

#footer.full {
  display: flex;
  flex-direction: column;
  height: 42vh;
  justify-content: space-between;
  width: 100vw;
  overflow-x: hidden;
}

#footer.mini {
  display: flex;
  /* grid-template-columns: repeat(24, 1fr); */
  /* height: 55px; */
}

#footer.micro {
  /* display: grid; */
  /* grid-template-columns: repeat(24, 1fr); */
  display: flex;
  position: relative;

  background: transparent !important;
  color: var(--foreground);
  padding-bottom: var(--margin);
  /* border-top: 1px solid #000; */
}

#footer.full #footer.mini {
  position: relative;
  left: var(--margin-negative);
  padding-bottom: 0;
  height: auto;
  align-items: flex-end;
}

#footer.full #footer.mini .logo > div:last-child {
  display: none;
}

.micro a,
.micro a:visited {
  color: var(--foreground) !important;
}
.micro {
  padding: var(--margin);
}
.micro .imprint {
  position: absolute;
  right: 127.5px;
}

.micro .contact {
  position: absolute;
  right: 45px;
}

#footer.mini .logo {
  /* display: flex; */
  grid-column: 1 / 8;
}

#footer.micro .logo {
  /* display: flex; */
  grid-column: 1 / 8;
}

#footer.mini .icon {
  /* display: flex; */
  grid-column: 16 / 20 !important;
  height: calc(40px - (2 * var(--margin)));
}
#footer.mini .resources {
  grid-column: 1 / 5;
}

#footer.micro .imprint {
  grid-column: 22 / 23;
}
#footer.micro .instagram {
  grid-column: 23 / end;
}

.newsletter input {
  all: unset;
  width: 30%;
  min-width: 300px;
}

.icon {
  mix-blend-mode: difference;
  height: 100%;
  aspect-ratio: 3.5;
  fill: #fff;
  cursor: pointer;
}

.icon > svg {
  height: 100%;
}

#footer .credits a,
#footer .credits a:visited {
  color: var(--background);
}

#footer.mini .logo {
  display: none;
}

#footer.mini .social {
  /* display: flex; */
  grid-column: 8 / 13;
}

.resource_wrapper {
  justify-content: space-between;
  width: 100%;
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
  #footer.full {
    height: 50vh;
  }
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .resource_wrapper {
    width: fit-content;
    justify-content: unset;
    gap: 50px;
  }

  #footer.mini {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(24, 1fr);
    height: 55px;
    padding-right: 25px;
  }

  #footer {
    padding-bottom: var(--margin);
  }

  #footer.mini .logo {
    display: block;
  }
  #footer.mini .resources {
    grid-column: 18 / 20;
  }
  #footer.mini .social {
    /* display: flex; */
    grid-column: 20 / 22;
  }
  #footer.mini .icon {
    /* display: flex; */
    grid-column: 22 / end !important;
    height: calc(55px - (2 * var(--margin)));
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
