.title {
  /* text-transform: uppercase; */
  font-size: var(--font-size-4);
  line-height: var(--font-size-4);
}

.announcement .title {
  font-size: var(--font-size-3);
  line-height: var(--font-size-3);
}
.type {
  text-transform: uppercase;
}

.card {
  background: var(--foreground);
  color: var(--background);
  height: 280px;
  width: auto;
  margin: 6px 0 12px 0;
  overflow: hidden;
}

.announcement .card {
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 235px;
  white-space: normal;

  text-align: center;
  justify-content: center;
}

.carousel_outer {
  max-width: 100vw;
  margin: auto;
  user-select: none;
  cursor: grab;
  overflow: hidden;
}

.carousel_inner {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(2px * -1);
}
.slide {
  padding-left: 1.5px;
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
  .card {
    height: 560px;
  }
  .announcement .card {
    width: calc(0.8 * 560px);
  }
}
