.copyrightContainer {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 2px;
  position: absolute;
  color: var(--foreground);
  width: 100%;
  height: 10px !important;
}

.copyrightText {
  opacity: 1;
  position: absolute;
  bottom: -8px;
  transition: opacity 0.4s;
  width: 100%;
  height: 100%;
  height: 10px !important;
}

:global(.mediaPair) .copyrightContainer:not(.isOverflowing) {
  margin-left: 6px;
  width: calc(100% - 12px);
}
:global(.coverMedia) .copyrightContainer:not(.isOverflowing) {
  margin-left: 6px;
  width: calc(100% - 12px);
}

:global(.articleImage) .copyrightContainer {
  margin-left: 0px !important;
  width: 100% !important;
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  /* .copyright_text {
    opacity: 0;
  } */
}

@media screen and (min-width: 1280px) {
  .copyrightContainer {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .copyrightContainer.isHovered {
    opacity: 1;
  }
}
