.copyright {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 2px;
  position: absolute;
  color: var(--foreground);
  width: 100%;
}

.icon {
  height: 100%;
  width: 100%;
}

.media_container:hover .copyright_text {
  opacity: 1;
}

.copyright_text {
  opacity: 1;
  position: absolute;
  bottom: -8px;
  transition: opacity 0.4s;
}

.slideshow_copyright {
  margin-left: 6px;
  width: calc(100% - 6px);
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .copyright_text {
    opacity: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
