.copyright {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 2px;
  position: absolute;
  color: var(--foreground);
  width: 100%;
}

.icon {
  height: 100%;
  width: 100%;
}

.media_container:hover .copyright_text {
  opacity: 1;
}

.copyright_text {
  opacity: 0;
  position: absolute;
  bottom: -8px;
  transition: opacity 0.4s;
}

.slideshow_copyright {
  margin-left: 6px;
  width: calc(100% - 6px);
}
