main.main {
  padding: 0;
}

.satellite {
  height: 80vh !important;
  margin: 10vw 0 20vw !important;
  max-width: 100vw;
  overflow-x: hidden;
}

.mediaPair {
  margin: 10vw 0 20vw !important;
}

.mediaCarousel {
  margin: 10vw 0 20vw !important;
}

.button {
  position: absolute;
  right: var(--margin);
  bottom: var(--margin);
}

.textFigure::after {
  content: "";
  position: absolute;
  left: var(--margin); /* ← padding-left */
  right: var(--margin); /* ← padding-right */
  bottom: 0px;
  height: 1px;
  background: #000;
  pointer-events: none; /* prevent overlap on interactions */
}

@media screen and (min-width: 1280px) {
  .textFigure::before {
    content: "";
    position: absolute;
    left: var(--margin); /* ← padding-left */
    right: var(--margin); /* ← padding-right */
    top: 0px;
    height: 1px;
    background: #000;
    pointer-events: none; /* prevent overlap on interactions */
  }
}
