main.main {
  padding: 0;
}

.page_header {
  display: flex;
}

.cell {
  border-left: 0 !important;
}

.contributor_wrapper {
  min-height: calc(var(--content-vh) / 1.7);
  display: flex;
  flex-direction: column;
}

.contributor_wrapper:first-of-type {
  min-height: calc(var(--content-vh) / 1.7 - 50px);
}

.contributor_wrapper:last-of-type {
  min-height: unset !important;
}

.contributor_info {
  margin-top: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  /* height: 50vh !important; */
}

.article_head {
  display: none !important;
}

.page_header {
  position: sticky;
  top: calc(var(--header-height) + var(--filter-height));
  z-index: 20;
}

.page_header li:last-of-type {
  display: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--margin-end);
  position: relative;
  top: -50px;
}

.article {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  gap: 8px;
}

.type {
  text-transform: capitalize;
}

.articles {
  padding: var(--margin-small) var(--margin);
  margin-top: 2px;

  position: relative;

  margin-top: 36px;
  margin-top: 1px;
  margin-bottom: 36px;
}

.articles_container {
  width: 100%;
}

.article a {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.article a:hover {
  opacity: 1;
}

.articles::before {
  content: "";
  position: absolute;
  left: var(--margin); /* ← padding-left */
  right: var(--margin); /* ← padding-right */
  top: 0;
  height: 1px;
  background: #000;
  pointer-events: none; /* prevent overlap on interactions */
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .contributor_wrapper {
    flex-direction: row;
    min-height: calc(var(--content-vh) / 1.7) !important;
    width: 100vw;
  }

  .contributor_wrapper:first-of-type {
    min-height: calc(var(--content-vh) / 1.7 - 50px) !important;
  }

  .contributor_info {
    flex: 0 0 var(--width-longcopy);
    min-width: var(--min-width-longcopy);
  }

  /* Left Column of the Sticky Header */
  .page_header > li:first-of-type {
    flex: 0 0 var(--width-longcopy);
    min-width: var(--min-width-longcopy);
  }

  /* Right Column of the Sticky Header */
  .page_header li:last-of-type {
    display: grid;
    width: calc(100vw - var(--width-longcopy)) !important;
  }

  .article_head {
    display: grid !important;
    border-left: 1px solid #fff;
  }

  .article {
    grid-template-columns: 100px 100px auto;
  }

  .article_title {
    display: unset;
    gap: 3px;
  }

  .articles {
    border-left: 1px solid #000;
    margin-bottom: unset;
    margin-top: unset;
  }

  .articles::before {
    background: none;
  }

  .article_title {
    /* display: flex; */
    gap: 3px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
