main.main {
  padding: 0;
}

.page_header {
  display: flex;
}

.cell {
  border-left: 0 !important;
}

.item {
  min-height: calc(var(--content-vh) / 2) !important;
}

.info {
  margin-top: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  /* height: 50vh !important; */
}

.article_head {
  display: none !important;
}

.page_header {
  position: sticky;
  top: calc(var(--header-height) + var(--filter-height));
  z-index: 20;
}

.page_header li:last-of-type {
  display: none;
}

.info > div {
  border-left: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--margin-end);
}

.article {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  gap: 8px;
}

.type {
  text-transform: capitalize;
}

.articles {
  padding: 8px 12px;

  margin-top: 2px;
}

.articles_container {
  width: 100%;
}

.article a {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.article a:hover {
  opacity: 1;
}

.item {
  display: flex;
  flex-direction: column;
}

.articles {
  position: relative;

  margin-top: 36px;
  margin-bottom: 36px;
}

.articles::before {
  content: "";
  position: absolute;
  left: 12px; /* ← padding-left */
  right: 12px; /* ← padding-right */
  top: 0;
  height: 1px;
  background: #000;
  pointer-events: none; /* prevent overlap on interactions */
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .info {
    width: var(--width-longcopy) !important;
    max-width: var(--width-longcopy) !important;
    height: 350px;
  }
  .item {
    flex-direction: row;
    min-height: unset;
  }
  .page_header > li:first-of-type {
    max-width: var(--width-longcopy) !important;
  }
  .page_header li:last-of-type {
    width: calc(100vw - var(--width-longcopy)) !important;
    /* border-left: 1px solid #fff; */
  }
  .page_header li:last-of-type {
    display: grid;
  }
  .article_head {
    display: grid !important;
    border-left: 1px solid #fff;
  }
  .article {
    grid-template-columns: 100px 100px auto;
  }
  .articles_container {
    width: calc(100vw - var(--width-longcopy));
  }
  .article_title {
    display: flex;
    gap: 3px;
  }
  .articles {
    border-left: 1px solid #000;
    margin-bottom: unset;
    margin-top: unset;
  }

  .articles::before {
    background: none;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
