main.main {
  padding: 0;
}

.page_header {
  display: flex;
}

.item:first-of-type :global(.Calendar-module__zrPwIq__head) {
  display: none !important;
}

.info {
  margin-top: 0 !important;
  padding: 0 !important;
  width: var(--width-longcopy);
  height: 350px;
}

.page_header {
  /* border-left: 1px solid #fff; */
  position: sticky;
  top: calc(var(--header-height) + var(--filter-height));
  z-index: 20;
}

.page_header > li:first-of-type {
  max-width: var(--width-longcopy) !important;
}

.page_header li:last-of-type {
  width: calc(100vw - var(--width-longcopy)) !important;
  border-left: 1px solid #fff;
}

.info :global(.People-module__tTy_-W__info_cell):first-child {
  border-left: 0 !important;
}

.info > div {
  border-left: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--margin-end);
}

.article {
  display: grid;
  grid-template-columns: 100px 100px auto;
  gap: 8px;
}

.article_title {
  display: flex;

  white-space: nowrap;
  gap: 3px;
}

.type {
  text-transform: capitalize;
}

.articles {
  padding: 8px 12px;
  border-left: 1px solid #000;
  margin-top: 2px;
}

.articles_container {
  width: calc(100vw - var(--width-longcopy));
}

.article a {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.article a:hover {
  opacity: 1;
}

.item {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
