.cover_media_copyright {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  display: flex;
  gap: 10px;
  z-index: 10;
  align-items: center;
}

.cover_media_copyright_text {
  margin-left: 15px;
}

.cover_media_copyright_button:hover + .cover_media_copyright_text {
  opacity: 1; /* or whatever value you want */
}
