.cover_media_copyright {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  display: flex;
  gap: 10px;
  z-index: 10;
  align-items: center;
  height: var(--line-height-5) !important;
  mix-blend-mode: difference !important;
  pointer-events: none;
}

.cover_media_copyright_text {
  color: #fff;
  height: var(--line-height-5) !important;
}
