.cover_media_copyright {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  display: flex;
  gap: 10px;
  z-index: 10;
  align-items: center;
  height: var(--line-height-5) !important;
  mix-blend-mode: difference !important;
  /* pointer-events: none; */
}

.cover_media_copyright_text {
  margin-left: 15px;
  color: #fff;
  mix-blend-mode: difference;
  height: var(--line-height-5) !important;
}

.cover_media_copyright_button:hover + .cover_media_copyright_text {
  opacity: 1; /* or whatever value you want */
}
