.row {
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 4.5px) calc(20% - 4.5px) calc(30% - 9px);
  gap: 9px;
  width: 100vw;
  left: 0;
  /* overflow-y: hidden; */
}
.head.row {
  height: 50px;
  background: var(--foreground);
  color: var(--background);
}

.row.hasMedia {
  grid-template-columns: calc(50% - 4.5px) calc(50% - 4.5px);
}

.cell {
  position: relative;
  padding: 8px;
}
.cell:first-child {
  padding: 8px 8px 8px 12px;
}
.cell:last-child {
  padding: 8px 12px 8px 8px;
}

.focus {
  position: relative;
}

.isLarge .focus {
  height: 400px;
}

.displayGallery .focus {
  height: 75vh;
}

.focus {
  height: 130px;
}

.pinnedText,
.pinnedText p {
  display: inline;
  margin: 0;
  margin-right: 3px;
}

.hasMedia .eventInfo {
  color: #000;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: calc(40% + 2.25px) calc(60% - 11.25px);
  gap: 9px;
  /* mix-blend-mode: difference; */
  color: #fff;
}
.hasMedia .eventInfo a,
.hasMedia .eventInfo a:visited,
.hasMedia .eventInfo .icon {
  color: #fff;
}

.eventInfo .icon,
.eventInfo .icon * {
  /* filter: invert(1); */
  color: #fff !important;
  fill: #fff !important;
}

.eventInfo .icon > div > div:first-child {
  border: 1px solid #fff !important;
}

.tags {
  display: flex;
  gap: var(--margin);
  position: absolute;
  bottom: var(--margin);
  right: var(--margin);
  height: 17px;
  z-index: 2;
}

.icon {
  height: 16px;
  width: 16px;
  aspect-ratio: 1;
  cursor: pointer;
}

.tags .icon {
  height: 17px;
  width: 17px;
}

.text_cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head .cell {
  /* padding: 8px !important; */
}

.cell:not(:last-child):after {
  content: "";
  position: absolute;
  border-right: 1px solid #000;
  height: 100%;
  top: 0;
  right: -5px;
}

.head .cell::after {
  border-right: 1px solid #fff;
  height: 50px;
}

.row:not(.last) .cell {
  border-bottom: 0;
  background-image: repeating-linear-gradient(to right, black 0 1px, /* dot thickness */ transparent 1px 4px /* gap */);
  background-size: calc(100% - 6px) 1px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.row:not(.last) .cell:nth-child(2) {
  background-size: calc(100%) 1px;
  background-position: bottom center;
}

.row:not(.last) .cell:last-child {
  background-size: calc(100% - 8px) 1px;
  background-position: bottom left;
}

.head.row .cell {
  background-image: none;
}

.artist {
  text-transform: uppercase;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 40%;
}

.hasMedia {
  position: relative;
}

.hasMedia a {
  opacity: 1;
  transition: 0.5s ease;
}
.hasMedia a:hover {
  opacity: 0.5;
}

/* Filter */
.filterHead {
  position: sticky;
  top: calc(32px + var(--margin) + 28px);
  z-index: 3;
}
.date_selection {
  background: var(--foreground);
  color: var(--background);
  display: flex;

  align-items: center;

  padding: var(--margin);

  position: absolute;
  top: 0;
  left: -4;
  width: calc(100% + 4px);
  height: 150px;
  z-index: 6;
}

.label {
  opacity: 0.3;
}
.label.active {
  opacity: 1;
}

.date_selection_inner {
  display: flex;
  justify-content: space-between;
  color: var(--background);
  gap: var(--margin);
  width: 100%;
  align-items: center;
  height: 0;
}

.range {
  min-width: 200px;
}

.head .icon {
  position: relative;
  fill: #fff;
  z-index: 7;
}

.cell.selectDates {
  display: flex;
  justify-content: space-between;
}
.cell.selectDates > span {
  position: relative;
  z-index: 7;
}

.controls {
  display: flex;
  flex-direction: column;
}

.clear {
  margin-left: 5px;
}

.selection {
  display: flex;
  gap: 10px;
}

.date_selection button {
  opacity: 0.3;
}

.date_selection button.selected {
  opacity: 1;
}

.date_selection .months,
.date_selection .years {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: scroll;
  position: relative;
  text-align: left;
}

.date_selection .years {
  justify-content: center;
}

.date_selection a,
.date_selection a:visited,
.date_selection button,
.date_selection button:visited {
  color: var(--background);
}

.selectDates .icon {
  transition: transform 0.3s ease-in-out;
}

.selectDates:hover .icon {
  transform: rotate(180deg);
}

.gallery {
  width: 100vw;
  height: 75vh;

  position: absolute;
  top: 0;
  left: 0;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
