/* ⭐️  Main Body */

main.main {
  padding: 0;
}

main.main section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 150px;
}
main.main section h3 {
  text-align: center;
  margin-bottom: calc(var(--margin) * 2);
}

.filter_header::after {
  height: 0px !important;
  background: transparent !important;
}

.calendar_block {
  width: 100vw;
}

.blink {
  animation: blink 0.5s ease 0s 3 normal forwards;
}

@keyframes blink {
  0% {
    filter: none;
  }
  40% {
    filter: invert(1);
  }
  60% {
    filter: invert(1);
  }
  100% {
    filter: none;
  }
}

.filter_header {
  border-bottom: none !important;
}

/* ⭐️ Row */
.row {
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 4.5px) calc(20% - 4.5px) calc(30% - 9px);
  gap: 9px;
  width: 100%;
  left: 0;
}

.head.row {
  height: 50px;
  background: var(--foreground);
  color: var(--background);
  text-transform: uppercase;
}

.hasImage .row {
  grid-template-columns: calc(50% - 4.5px) calc(50% - 4.5px);
}

.plainEvent .row {
  grid-template-columns: calc(50% - 4.5px) calc(50% - 4.5px);
}

/* ⭐️ Cell */

.cell {
  position: relative;
  padding: 8px;
}

/* ⚠️ Mark as important as, if there is only one cell, this will be overwritten by last cell */
.cell:first-child {
  padding: var(--margin-small) var(--margin-small) var(--margin-small) var(--margin) !important;
}
.cell:last-child {
  padding: var(--margin-small) var(--margin) var(--margin-small) var(--margin-small);
}

.cell:not(:last-child):after {
  content: "";
  position: absolute;
  border-right: 1px solid #000;
  height: 100%;
  top: 0;
  right: -5px;
}

.head .cell::after {
  border-right: 1px solid #fff;
  height: 50px;
}

.row .cell {
  border-bottom: 0;
  background-image: repeating-linear-gradient(to right, black 0 1px, /* dot thickness */ transparent 1px 4px /* gap */);
  background-size: calc(100% - 6px) 1px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.row .cell:nth-child(2) {
  background-size: calc(100%) 1px;
  background-position: bottom left;
}

.row .cell:last-child {
  background-size: calc(100% - 8px) 1px;
  background-position: bottom left;
}

.plainEvent:has(+ .hasImage) .cell:last-child,
.plainEvent:has(+ .hasImage) .cell:nth-child(2) {
  background-image: none;
}

.head.row .cell {
  background-image: none;
}

/* ⭐️ Focus */
.focus {
  position: relative;
  height: 400px;
}

.galleryIsVisible .focus {
  height: 75vh;
}

/* ⭐️ Pinned Event and Recommendation Event */
.pinnedEvent:not(.hasImage) .row,
.recommendedEvent:not(.hasImage) .row {
  grid-template-columns: calc(50% - 4.5px) calc(50%);
  gap: 4.5px;
}

.pinnedEvent .focus,
.recommendedEvent .focus {
  background: #000;
  color: #fff;
}

.pinnedEvent .notice,
.recommendedEvent .notice {
  background: #fff !important;
  color: #000 !important;
}

.pinnedEvent .location a,
.pinnedEvent .location a:visited,
.recommendedEvent .location a,
.recommendedEvent .location a:visited {
  color: #fff;
}

.pinnedEvent .eventInfo,
.recommendedEvent .eventInfo {
  padding-left: 4.5px;
}

.blur_spotlight {
  left: -4.5px;
  width: calc(100% + 4.5px);
}

.blur_spotlight p {
  color: #fff !important;
}

.pinnedText,
.pinnedText p {
  display: inline;
  margin: 0;
  margin-right: 3px;
}

.eventInfo {
  position: relative;
  z-index: 2;
  color: #fff;
}

.hasImage .eventInfo a,
.hasImage .eventInfo a:visited {
  color: #fff;
}

.tags {
  display: flex;
  gap: var(--margin);
  position: absolute;
  bottom: var(--margin);
  right: var(--margin);
  height: 17px;
  z-index: 2;
}

.textCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artist {
  text-transform: uppercase;
}

.title {
  text-overflow: ellipsis;
  max-width: 40%;
}

/* ⭐️ Images */
.hasImage .row {
  position: relative;
}

.textCell a {
  opacity: 1;
  transition: 0.5s ease;
}
.textCell a:hover {
  opacity: 0.5;
}

/* ⭐️ Gallery */
.gallery {
  width: 100vw;
  height: 75vh;

  position: absolute;
  top: 0;
  left: 0;
}

.galleryIsVisible .cell:not(:last-child):after {
  height: 32px;
}

.galleryIsVisible .eventInfo {
  color: #000 !important;
}

/* ⭐️ Dotted Lines */
.plainEvent + .hasImage .focus {
  /* Remove dotten line below event if event is followed by image event */
  background-image: none;
}

section.calendar .event:last-of-type .cell {
  /* Dont't show dotten line on last event in row */
  background-image: none;
}

.shareIcons {
  padding-top: var(--line-height-4);
}

.cropButton {
  position: static !important;
  pointer-events: none;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .eventInfo {
    display: grid;
    grid-template-columns: calc(40% + 2.25px) calc(60% - 14px);
    gap: 12px;
  }
  .plainEvent .row {
    grid-template-columns: calc(50% - 4.5px) calc(20% - 4.5px) calc(30% - 9px);
  }

  .shareIcons {
    padding-top: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .event svg * {
    fill: #000;
  }
  .eventInfo svg * {
    fill: #fff !important;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
