.satellite_expanding_media {
  animation: load 5s infinite;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.1);
  }
  100% {
    transform: translateY(0);
  }
}
