.main {
  padding: 0;
}

.mediaPair {
  padding: var(--margin);
  padding-top: 24px;
}

/* Article Text */
.mediaPair > :first-child {
  grid-column: unset;
}

/* Article Image  */
.mediaPair > :last-child {
  /* max-height: 550px; */
  max-width: 550px;
  height: auto !important;
  width: auto;
  place-self: center;
  padding-top: 36px;
  position: relative !important;
  top: unset !important;
}

.bio {
  padding: var(--margin);
}

.cover {
  position: relative !important;
  /* top: calc(var(--header-height) + var(--filter-height)) !important; */
  height: calc(80vh - (var(--header-height) + var(--filter-height))) !important;
  width: 100vw;
  margin-bottom: 20px;
}

.cover .name {
  height: var(--line-height-4);
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
}

/* .cover .copyright {
  position: absolute;
  right: var(--margin);
  bottom: var(--margin);
} */

.label {
  position: absolute !important;
  top: var(--margin) !important;
  right: var(--margin) !important;
  width: fit-content !important;
  z-index: 10;
}

.cover .openCall {
  padding: var(--margin) !important;
  position: absolute;
  z-index: 2;
  border: none !important;
}

.cover .openCall::before {
  content: "";
  position: absolute;
  left: var(--margin); /* ← padding-left */
  right: var(--margin); /* ← padding-right */
  top: 0;
  height: 1px;
  background: none;
  pointer-events: none; /* prevent overlap on interactions */
}

.satellite {
  height: 80vh !important;
  margin: 10vw 0 20vw !important;
  max-width: 100vw;
  overflow-x: hidden;
}

.voice {
  grid-column: 1 / 20;
  background: transparent !important;

  padding-top: var(--margin-end);
  padding-bottom: var(--margin-end);
  margin-top: 0;
}

.articleImage {
  width: var(--width-longcopy) !important;
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .cover .name {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
  }
  .mediaPair {
    padding-top: 50px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .mediaPair > :first-child {
    grid-column: 2 / 12 !important;
  }
  .articleImage {
    width: unset;
  }
  .voice {
    /* padding: var(--margin-end) 30% !important; */
    margin-top: 0 !important;
  }
  .satellite {
    margin: 10vw 0;
  }

  .mediaPair > :last-child {
    max-height: 550px;
    padding-top: unset;
  }

  .cover {
    position: sticky !important;
    top: calc(var(--header-height) + var(--filter-height)) !important;
    height: calc(100vh - (var(--header-height) + var(--filter-height))) !important;
    margin-bottom: unset;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
