.main {
  padding: 0;
}

.blurContainer {
  border-top: 1px solid #000;
}

.filter_header {
  border-bottom: 1px solid #000;
}

.mediaPair {
  padding: var(--margin);
  padding-top: calc(var(--margin) * 2);
}

/* Article Text */
.mediaPair > :first-child {
  grid-column: 2 / 8;
}

/* Article Image  */
.mediaPair > :last-child {
  max-height: 550px;
  max-width: 550px;
  height: auto;
  width: auto;
  place-self: center;
}

.bio {
  padding: var(--margin);
}

.cover {
  position: sticky !important;
  top: calc(var(--header-height) + var(--filter-height)) !important;
  height: calc(100vh - (var(--header-height) + var(--filter-height))) !important;
  width: 100vw;
}

.cover .name {
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
}

.cover .copyright {
  position: absolute;
  right: var(--margin);
  bottom: var(--margin);
}

.doubleFeature {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}

.doubleFeature div {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}

.cover .coverImage > img {
  object-position: top center !important;
}

.cover .openCall {
  padding: var(--margin) !important;
  position: absolute;
  z-index: 2;
  border: none !important;
}

.satellite {
  height: 80vh !important;
  margin: 10vw 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.voice {
  grid-column: 1 / 20;
  background: transparent !important;
  padding: 300px 30% !important;
  margin-top: 0 !important;
}
