.container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.container .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
  color: #fff;
  text-transform: uppercase;
}

.title p {
  margin-bottom: 0;
}

.container .description {
  position: absolute;
  bottom: 10px;
  padding: var(--margin);
  z-index: 3;
  color: #fff;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    height: 100vh;
    width: 100%;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
