.frame_container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.frame_container > img {
  width: 100%;
  height: auto;
  display: block;
}

.frame_inner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfectly center it */
  width: 50% !important; /* adjust this to fit the frame opening */
  height: auto !important;
  z-index: 2; /* ensure it's above the frame */
  pointer-events: none; /* so clicks pass through if desired */
}
