main.main {
  padding: 0;
  min-height: calc(100vh - var(--header-height));
}

.content {
  padding: var(--margin);
}

.indexItem {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 60% 15% 25%;

  row-gap: 2px;

  margin-bottom: var(--margin-small);

  border-bottom: 0;
  background-image: repeating-linear-gradient(to right, black 0 1px, /* dot thickness */ transparent 1px 4px /* gap */);
  background-size: calc(100% - 6px) 1px;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: var(--margin-small);
}

.indexItem:last-child {
  background-image: none;
}

.articleTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  grid-row: 1;
  grid-column: 1 / -1; /* span all columns */
}

.articleTitle > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleCategory {
  display: none;
}

.articleAuthor,
.articleMedium,
.articleReleaseDate {
  grid-row: 2;
}

.indexItem a {
  transition: var(--transition);
}

.indexItem a:hover {
  cursor: pointer;
  opacity: 0.4;
}

.indexItem time {
  margin-left: auto;
}

.pineaIcon {
  position: fixed;
  width: calc(100vw - calc(2 * var(--margin)));
  height: fit-content;
  pointer-events: all;
  bottom: var(--margin);
  left: var(--margin);
  line-height: 0;
  z-index: 2;
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .indexItem {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 2fr 1.5fr 1fr 1fr;
    gap: var(--margin-small);
  }
  .articleTitle {
    grid-row: 1;
    grid-column: 1;
  }
  .articleAuthor {
    grid-row: 1;
    grid-column: 2;
  }
  .articleCategory {
    grid-row: 1;
    grid-column: 3;
    display: block;
  }
  .articleMedium {
    grid-row: 1;
    grid-column: 4;
  }
  .articleReleaseDate {
    grid-row: 1;
    grid-column: 5;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
