/* HB Margin Medium */

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.43-350.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.43-350I12.woff2") format("woff2");
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.43-375.woff2") format("woff2");
  font-weight: 375;
  font-style: normal;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.43-375I12.woff2") format("woff2");
  font-weight: 375;
  font-style: italic;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.43-450.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.43-450I12.woff2") format("woff2");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.43-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.43-500I12.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginS";
  src: url("/fonts/HBMarginSWebv0.43-350.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginS";
  src: url("/fonts/HBMarginSWebv0.43-350I12.woff2") format("woff2");
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginS";
  src: url("/fonts/HBMarginSWebv0.43-375.woff2") format("woff2");
  font-weight: 375;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginS";
  src: url("/fonts/HBMarginSWebv0.43-375I12.woff2") format("woff2");

  font-weight: 375;
  font-style: italic;
  font-display: swap;
}
