.preview {
  color: #fff;
}

.type {
  text-transform: capitalize;
}

.label {
  position: absolute !important;
  bottom: var(--margin) !important;
  right: var(--margin) !important;
  width: fit-content !important;
}
