main.main {
  padding-top: 0;
  padding-bottom: 0;
  /* padding-bottom: calc(100vh - 42vh - var(--header-height) - var(--filter-height)); */
}

.text_column {
  background: #fff;
}

.divider {
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height));
  width: calc(50% - 2 * var(--margin));
}

.portrait {
  position: sticky;
  top: calc(var(--header-height) + var(--filter-height));
  align-self: start;
  height: calc(100vh - var(--header-height) - var(--filter-height));
  width: calc(100% + var(--margin) - var(--gap));
}

.counter {
  display: inline-block;
  position: fixed;
  top: calc(var(--header-height) + var(--filter-height) + var(--margin));
  left: var(--margin);
}
