#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wheel_container {
  width: calc(100vw - 2 * var(--margin));
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 1s;
}

.media_container {
  position: absolute;
  height: auto;

  transition: transform 1s, opacity 1s;
  width: 300px;
  height: auto;
  overflow: hidden;
}

.marker_wrapper {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-self: center;
}

.marker {
  width: 8px;
  height: 8px;
  background: var(--foreground);
  cursor: pointer;
}

.marker.current {
  background: #cecece;
}
