.footnotes {
  width: var(--width-longcopy);
  display: flex;
  flex-wrap: wrap; /* <-- this allows new rows */
  gap: var(--margin);
}

.footnote {
  width: calc(50% - var(--margin)); /* two per row */
  box-sizing: border-box;
}

.footnote_text,
.footnote_text p {
  display: inline;
}
