figure.showcase {
  color: var(--background);
  display: flex;
  flex-direction: column;

  height: 80vh;
  align-items: center;
  position: relative;
}

figure.showcase.light {
  background: transparent;
  color: #000;
}

figcaption.figcaption {
  padding: var(--margin);
  z-index: 2;
  width: 100%;
}

figcaption.figcaption:first-of-type .title {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.showcaseImage {
  margin: auto;
}

figcaption.figcaption h3 {
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* From DefaultFigure */

.figureContainer {
  /* z-index: 15; */
  height: 80vh;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.figureContainer h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
  color: #fff;
  text-transform: uppercase;
}

.figureContainer p {
  position: absolute;
  bottom: 0px;
  padding: var(--margin);
  z-index: 3;
  color: #fff;
}

.label {
  position: absolute !important;
  bottom: var(--margin) !important;
  right: var(--margin) !important;
  width: fit-content !important;
}

.teaser {
  position: absolute;
  bottom: var(--margin);
}

.type.isSlideshow {
  bottom: 10px;
}
.title {
  pointer-events: none;
}
.title p {
  position: relative;
  padding: 0;
}

.type {
  text-transform: capitalize;
}

.full {
  flex: 0 0 100%;
  min-width: 0;
  height: 80vh !important;
}

.half {
  flex: 0 0 100%;
  min-width: 0;
  /* width: 50vw; */
  height: 80vh !important;
}

.quarter {
  flex: 0 0 100%;
  height: calc(var(--content-vh) / 2) !important;
  min-width: 0;
  position: relative !important;
  /* height: 25vh; */
}

.eigth {
  flex: 0 0 100%;
  height: calc(var(--content-vh) / 2) !important;
  min-width: 0;
  position: relative !important;
}

.full div,
.half div,
.quarter div,
.eigth div {
  width: 100%;
  height: 100%;
}

a.full,
a.half,
a.quarter,
a.eigth {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

figure.showcase.light::after {
  content: "";
  position: absolute;
  left: var(--margin); /* ← padding-left */
  right: var(--margin); /* ← padding-right */
  bottom: 0px;
  height: 1px;
  background: #000;
  pointer-events: none; /* prevent overlap on interactions */
}

.shareButton {
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-block;
  fill: #fff;
  mix-blend-mode: difference;
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
  .figureContainer {
    height: 100vh !important;
    width: 100%;
  }

  figure.showcase.light::before {
    content: "";
    position: absolute;
    left: var(--margin); /* ← padding-left */
    right: var(--margin); /* ← padding-right */
    top: 0px;
    height: 1px;
    background: #000;
    pointer-events: none; /* prevent overlap on interactions */
  }

  /* figure.showcase figcaption {
    position: absolute;
  }

  figure.showcase figcaption:first-of-type {
    top: 0;
  }
  figure.showcase figcaption:last-of-type {
    bottom: 0;
  } */

  /* figure.figure.fullscreen {
    height: 100vh !important;
  } */

  .full {
    flex: 0 0 100%;
    height: calc(var(--content-vh));
  }

  .half {
    flex: 0 0 50%;
    height: calc(var(--content-vh));
  }

  .quarter {
    flex: 0 0 50%;
    height: calc(var(--content-vh) / 2) !important;
    /* height: 25vh; */
  }

  .eigth {
    height: calc(var(--content-vh) / 2) !important;
    flex: 0 0 25%;
  }
  .media_container {
    width: 50%;
  }
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  figure.showcase {
    height: 100vh;
  }
  .media_container {
    width: 30%;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .figureContainer {
    height: 100vh !important;
    width: 100%;
  }

  figure.showcase.light::before {
    content: "";
    position: absolute;
    left: var(--margin); /* ← padding-left */
    right: var(--margin); /* ← padding-right */
    top: 0px;
    height: 1px;
    background: #000;
    pointer-events: none; /* prevent overlap on interactions */
  }

  figure.showcase figcaption {
    position: absolute;
  }

  figure.showcase figcaption:first-of-type {
    top: 0;
  }
  figure.showcase figcaption:last-of-type {
    bottom: 0;
  }

  /* figure.figure.fullscreen {
    height: 100vh !important;
  } */

  .full {
    flex: 0 0 100%;
    height: calc(var(--content-vh));
  }

  .half {
    flex: 0 0 50%;
    height: calc(var(--content-vh));
  }

  .quarter {
    flex: 0 0 50%;
    height: calc(var(--content-vh) / 2) !important;
    /* height: 25vh; */
  }

  .eigth {
    height: calc(var(--content-vh) / 2) !important;
    flex: 0 0 25%;
  }
  .media_container {
    width: 50%;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
