figure.figure.showcase {
  background: var(--foreground);
  color: var(--background);
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  position: relative;
}

.media_container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -33%);
}

figcaption.figcaption {
  padding: var(--margin);
  z-index: 2;
  width: 100%;
}

figure.figure.fullscreen {
  position: relative; /* needed for absolute positioning */
  height: 80vh;
}

figure.figure.fullscreen .figcaption {
  position: absolute;
  color: var(--background);
  z-index: 2;
  padding: var(--margin);
  bottom: 0;
}

figcaption.figcaption h3 {
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* From DefaultFigure */

.container {
  height: 80vh;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.container h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
  color: #fff;
  text-transform: uppercase;
}

.container p {
  position: absolute;
  bottom: 0px;
  padding: var(--margin);
  z-index: 3;
  color: #fff;
}

.label {
  position: absolute !important;
  bottom: var(--margin) !important;
  right: var(--margin) !important;
  width: fit-content !important;
}

.teaser {
  position: absolute;
  bottom: var(--margin);
}

.type.isSlideshow {
  bottom: 10px;
}
.title {
  pointer-events: none;
}
.title p {
  position: relative;
  padding: 0;
}

.type {
  text-transform: capitalize;
}

.full {
  flex: 0 0 100%;
  min-width: 0;
  height: 80vh !important;
}

.half {
  flex: 0 0 100%;
  min-width: 0;
  /* width: 50vw; */
  height: 80vh !important;
}

.quarter {
  flex: 0 0 100%;
  height: calc(var(--content-vh) / 2) !important;
  min-width: 0;
  position: relative !important;
  /* height: 25vh; */
}

.eigth {
  flex: 0 0 100%;
  height: calc(var(--content-vh) / 2) !important;
  min-width: 0;
  position: relative !important;
}

.full div,
.half div,
.quarter div,
.eigth div {
  width: 100%;
  height: 100%;
}

a.full,
a.half,
a.quarter,
a.eigth {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  figure.figure.showcase {
    height: 100vh;
  }
  .media_container {
    width: 30%;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    height: 100vh !important;
    width: 100%;
  }

  figure.figure.fullscreen {
    height: 100vh !important;
  }

  .full {
    flex: 0 0 100%;
    height: calc(var(--content-vh));
  }

  .half {
    flex: 0 0 50%;
    height: calc(var(--content-vh));
  }

  .quarter {
    flex: 0 0 50%;
    height: calc(var(--content-vh) / 2) !important;
    /* height: 25vh; */
  }

  .eigth {
    height: calc(var(--content-vh) / 2) !important;
    flex: 0 0 25%;
  }
  .media_container {
    width: 50%;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
