main.main {
  padding: 0;
  min-height: var(--content-vh);
}

.open_call:first-of-type:before {
  content: "";
  position: absolute;
  left: 12px; /* ← padding-left */
  right: 12px; /* ← padding-right */
  top: 0;
  height: 1px;
  background: none;
  pointer-events: none; /* prevent overlap on interactions */
}

.open_call_container {
  margin-bottom: var(--margin-end);
}
