main.main {
  padding: 0;
  min-height: var(--content-vh);
}

.filter_header {
  border-bottom: 1px solid var(--foreground);
}

.open_call:first-of-type {
  border-top: 0 !important;
}

.open_call_container {
  margin-bottom: var(--margin-end);
}
