.video_controls {
  align-items: center;
  display: flex;
}

.video_controls span,
.video_controls button {
  margin-left: 0px;
  margin-right: var(--margin);
}

.video_controls {
  z-index: 3;
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .video_controls {
    position: relative;
    bottom: unset;
  }
  .video_controls span,
  .video_controls button {
    margin-left: 0px;

    text-align: center;
  }
}
