.video_controls {
  align-items: center;
  display: flex;
}

.video_controls span,
.video_controls button {
  margin-left: 0px;
  margin-right: var(--margin);
}

.video_controls span:last-child,
.video_controls button:last-child {
  margin-right: 0px;
}

.video_controls {
  z-index: 3;
}

.duration {
  position: absolute;
  bottom: 36px;
  left: var(--margin);
  z-index: 3;
  mix-blend-mode: difference;
  color: #fff;
}

.play {
  position: absolute;
  bottom: 36px;
  left: 100px;
  z-index: 3;
  mix-blend-mode: difference;
  color: #fff;
  transform: translateX(-50%);
}
.mute {
  position: absolute;
  bottom: 36px;
  left: 150px;
  z-index: 3;
  mix-blend-mode: difference;
  color: #fff;
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .video_controls {
    /* position: relative; */
    bottom: unset;
  }
  .video_controls span,
  .video_controls button {
    margin-left: 0px;

    text-align: center;
  }

  .mute {
    right: 36px;
    bottom: 36px;
  }
  .play {
    right: 112.5px;
    left: unset;
    bottom: 36px;
    transform: unset;
  }
  .duration {
    left: unset;
    right: 200px;
    bottom: 36px;
  }
}
