.video_controls {
  align-items: center;
  display: flex;
}

.video_controls span,
.video_controls button {
  margin-left: 0px;
  margin-right: var(--margin);
}

.video_controls span:last-child,
.video_controls button:last-child {
  margin-right: 0px;
}

.video_controls {
  z-index: 3;
}

.play {
  position: absolute;
  bottom: 36px;
  right: 112.5px;
  z-index: 3;
  mix-blend-mode: difference;
  color: #fff;
}
.mute {
  position: absolute;
  bottom: 36px;
  right: 37px;
  z-index: 3;
  mix-blend-mode: difference;
  color: #fff;
}

.duration {
  position: absolute;
  bottom: 36px;
  right: 200px;
  z-index: 3;
  mix-blend-mode: difference;
  color: #fff;
}
/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .video_controls {
    /* position: relative; */
    bottom: unset;
  }
  .video_controls span,
  .video_controls button {
    margin-left: 0px;

    text-align: center;
  }
}
