.articleImage {
  width: var(--width-longcopy) !important;
  top: calc(var(--header-height) + var(--filter-height));
  height: calc(100vh - var(--header-height) - var(--filter-height)) !important;
  object-fit: contain;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articleImage_inner {
  top: calc(var(--header-height) + var(--filter-height));

  object-fit: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .articleImage {
    margin: unset;
    width: auto !important;
    position: sticky !important;
  }

  .articleImage_inner {
    /* position: sticky !important; */
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
