.articleImage {
  width: var(--width-longcopy) !important;
  height: fit-content !important;

  object-fit: contain;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: var(--margin-end) auto; */
}

.articleImage_inner {
  top: calc(var(--header-height) + var(--filter-height));

  object-fit: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
  .articleImage {
    width: 20vw !important;
  }
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .articleImage {
    /* margin: unset; */
    max-width: 350px !important;
    position: sticky !important;
    top: calc(var(--header-height) + var(--filter-height));
    height: calc(100vh - var(--header-height) - var(--filter-height)) !important;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
