main.main {
  min-height: calc(100vh - var(--header-height));
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
}

.title_container {
  min-height: var(--content-vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: calc(var(--margin) * 3);

  position: sticky;
  top: calc(100vh - var(--content-vh));
  height: var(--content-vh);
}

.author {
  position: absolute;
  bottom: 72px !important;
}

.title {
  text-transform: uppercase;
  text-align: center;
  max-width: 950px;
  padding: 0 var(--margin);
}

.title p {
  margin-bottom: 0;
}

.gallery {
  height: var(--content-vh) !important;
  max-width: 100vw;
  overflow: hidden;
  margin-bottom: 50px;
}

.spacer {
  height: var(--margin-end);
}

.mediaPair {
  padding-bottom: 150px;
}

.quote {
  margin-bottom: 150px;
}

.quote h2 {
  text-transform: none !important;
}

.longcopy:first-of-type {
  margin-top: 50px;
}

.label {
  position: absolute !important;
  top: var(--margin) !important;
  right: var(--margin) !important;
  width: fit-content !important;
  z-index: 10;
}

.footnotes {
  position: relative;
  max-width: var(--max-width-longcopy);
  margin: 0 auto;
  margin-top: var(--margin-end);
}

div.article_image {
  height: fit-content !important;
}

.first div.article_image {
  padding-top: 100px;
}
.second div.article_image {
  padding-bottom: 150px;
}
/* .first div.article_image {
  padding-top: 150px;
} */

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .article_image:first-of-type {
    grid-column: 4 / 10 !important;
  }

  .article_image:last-of-type {
    grid-column: 15 / 23 !important;
  }

  div.article_image {
    height: calc(100vh - var(--header-height) - var(--filter-height)) !important;
  }
  .first div.article_image {
    padding-bottom: unset;
  }
  .second div.article_image {
    padding-bottom: unset;
  }
  .author {
    bottom: calc(var(--margin) * 3) !important;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
