.header {
  position: sticky;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 51;
  padding: var(--margin);
  padding-bottom: 0;
  left: 0;
  height: var(--header-height);
}

.controls button,
.controls button:visited {
  color: #fff !important;
}

.dummy header.header {
  z-index: 61;
  pointer-events: all !important;
}

.dummy header.header a,
.dummy header.header a:visited,
.dummy header.header button,
.dummy header.header button:visited {
  color: #fff !important;
}

header.header a,
header.header a:visited,
header.header button,
header.header button:visited,
header.header li > a,
header.header li > a:visited,
header.header .pageTitle {
  color: #000 !important;
}

.dummy header.header {
  color: #fff;
  background: transparent !important;
}

.dummy header.header .pageTitle {
  opacity: 0;
  pointer-events: none;
}

.dummy .header .menuButton {
  width: calc(var(--font-size-3) / 1.2);
  height: var(--font-size-3);
  background: #fff;
}

.header .menuButton {
  width: calc(var(--font-size-3) / 1.2);
  height: var(--font-size-3);
  background: #000;
}

.pageTitle {
  cursor: pointer;
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);
}

.controls_wrapper {
  width: 50%;
  left: 50%;
  display: flex;
}

.controls {
  width: 100%;
}

.controls,
.controls_wrapper {
  gap: 30px;
  align-items: center;
}

.menuButton_wrapper {
  transform-style: preserve-3d;
  perspective: 50px;
  cursor: pointer;
}

.menuButton.animate {
  transform: rotateX(-180deg);
  transition: transform 0.5s ease-in-out;
}

.controls button {
  transition: opacity 0.3s ease;
  opacity: 0.4;
}

.controls button.active {
  opacity: 1;
}

.controls button:hover {
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: #000;
  color: #fff !important;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--margin);
  gap: var(--margin);

  z-index: 50;

  pointer-events: all; /* allows header buttons to work if needed */
}

.dummy .menu {
  z-index: 60;
}

nav.nav {
  position: relative;
  z-index: 52; /* ABOVE header */
  pointer-events: auto; /* restore clickability */
  position: fixed;
  left: 0vw;
  display: grid;
  width: 100% !important;
  top: 50px;
  grid-template-columns: 50% 50%;
  padding: var(--margin);
}

.dummy nav.nav {
  z-index: 62;
}

nav.nav a,
nav.nav a:visited,
nav.nav li {
  color: #fff;
}

.menu a {
  color: #fff !important;
  text-decoration: none;
}
.menu a:visited {
  color: #fff !important;
  text-decoration: none;
}

.promo {
  padding-bottom: 0;
  width: calc(100vw);
  position: relative;
  left: calc(-1 * var(--margin));
}

.logo_inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.cover {
  width: var(--showcase-width) !important;
  height: auto !important;
  position: absolute !important;
  left: var(--margin) !important;
  bottom: calc(var(--line-height-3) + (var(--margin) * 2));
}

header.header .controls {
  opacity: 0;
  pointer-events: none;
  font-size: (var(--font-size-3));
}

.dummy header.header .controls {
  opacity: 1;
  pointer-events: all;
  display: flex;
}

@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
  nav.nav {
    gap: 100px;
    left: 30vw;
    display: flex;
    width: fit-content !important;
    gap: 24px;
    top: var(--margin);
    grid-template-columns: unset;
    padding: unset;
  }

  .cover {
    left: var(--margin) !important;
  }

  header.header .controls {
    opacity: 1;
    pointer-events: all;
    font-size: var(--font-size-4);
  }

  .controls,
  .controls_wrapper {
    position: relative;
    display: flex;
    left: unset;
  }

  .controls_wrapper {
    width: fit-content;
    left: unset;
  }
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  nav.nav {
    gap: 100px;
    left: 30vw;
    display: flex;
    width: fit-content !important;
    gap: 24px;
    top: var(--margin);
    grid-template-columns: unset;
    padding: unset;
  }

  .cover {
    left: 30vw !important;
  }

  header.header .controls {
    opacity: 1;
    pointer-events: all;
    font-size: var(--font-size-4);
  }

  .controls,
  .controls_wrapper {
    position: relative;
    display: flex;
    left: unset;
  }

  .controls_wrapper {
    width: fit-content;
    left: unset;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
