.header {
  position: sticky;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;

  z-index: 5;
  padding: var(--margin);
  padding-bottom: 0;
  left: 0;
  height: var(--header-height);
  color: #000;
}

.pageTitle {
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);
}

.controls {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo,
.controls {
  position: relative;
  z-index: 10;
}

.menuButton {
  width: calc(var(--font-size-3) / 1.2);
  height: var(--font-size-3);
  background: #000;
}

.menuButton_wrapper {
  transform-style: preserve-3d;
  perspective: 50px;
  cursor: pointer;
}

.menuButton_wrapper:hover .menuButton {
  transform: rotateX(-180deg); /* two full backwards rotations */
  transition: transform 0.5s ease-in-out;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(var(--blur));
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--margin);
  gap: var(--margin);

  z-index: 9;
}

/* .menu li:hover {
  text-transform: uppercase;
} */

.promo {
  border-bottom: 1px solid #000;
  padding-bottom: var(--margin);
  width: calc(100vw - 2 * var(--margin));
}

.logo_inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

video.cover {
  width: 20vw;
  height: auto;
  position: relative;
}
