.header {
  position: sticky;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 51;
  padding: var(--margin);
  padding-bottom: 0;
  left: 0;
  height: var(--header-height);

  /* color: var(--background); */
}

.controls {
  display: none !important;
}

header.header.open a,
header.header.open a:visited,
header.header.open button,
header.header.open button:visited {
  color: #fff !important;
}

header.header a,
header.header a:visited,
header.header button,
header.header button:visited,
header.header li > a,
header.header li > a:visited {
  color: #000 !important;
}

header.header.open {
  color: #fff;
  background: transparent !important;
}

header.header.open .pageTitle {
  opacity: 0;
}

.header.open .menuButton {
  width: calc(var(--font-size-3) / 1.2);
  height: var(--font-size-3);
  background: #fff;
}

.header .menuButton {
  width: calc(var(--font-size-3) / 1.2);
  height: var(--font-size-3);
  background: #000;
}

.pageTitle {
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);
}

.controls,
.controls_wrapper {
  gap: 30px;
  align-items: center;
}

.logo,
.controls {
  position: relative;
}

.menuButton_wrapper {
  transform-style: preserve-3d;
  perspective: 50px;
  cursor: pointer;
}

.menuButton.animate {
  transform: rotateX(-180deg);
  transition: transform 0.5s ease-in-out;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: #000;
  color: #fff !important;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--margin);
  gap: var(--margin);

  z-index: 50;

  pointer-events: all; /* allows header buttons to work if needed */
}

nav.nav {
  position: relative;
  z-index: 52; /* ABOVE header */
  pointer-events: auto; /* restore clickability */
  position: fixed;
  left: 30vw;
  top: var(--margin);
  display: flex;
  gap: 24px;
}

nav.nav a,
nav.nav a:visited,
nav.nav li {
  color: #fff;
}

.menu a {
  color: #fff !important;
  text-decoration: none;
}
.menu a:visited {
  color: #fff !important;
  text-decoration: none;
}

.marquee {
  white-space: nowrap;
}

.slide {
  padding-left: 6px !important;
}
.promo {
  /* border-bottom: 1px solid #000; */
  padding-bottom: 0;
  width: calc(100vw);
  position: relative;
  left: calc(-1 * var(--margin));
}

.logo_inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.cover {
  width: var(--showcase-width) !important;
  height: auto !important;
  position: absolute !important;
  left: 30vw !important;
  bottom: calc(var(--line-height-3) + (var(--margin) * 2));
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  nav.nav {
    gap: 100px;
  }
  .controls,
  .controls_wrapper {
    display: flex !important;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
