.header {
  position: sticky;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 50;
  padding: var(--margin);
  padding-bottom: 0;
  left: 0;
  height: var(--header-height);

  pointer-events: none;
}

.controls button,
.controls button:visited {
  color: #fff !important;
}

header.header a,
header.header a:visited,
header.header button,
header.header button:visited,
header.header li > a,
header.header li > a:visited,
header.header .pageTitle {
  color: #000 !important;
}

.header .menuButton {
  width: calc(var(--font-size-3) / 1.2);
  height: var(--font-size-3);
  background: #000;
}

.header.menuIsVisible {
  filter: invert();
}

.menuIsVisible .menuButton_wrapper {
  margin-left: auto;
}

.pageTitle {
  cursor: pointer;
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);
}

.controls {
  gap: 30px;
  align-items: center;

  position: relative;
  display: flex;
  width: -webkit-fill-available;
  pointer-events: all;
}

.menuIsVisible .controls {
  width: 50%;
}

.menuButton_wrapper {
  transform-style: preserve-3d;
  perspective: 50px;
  cursor: pointer;
}

.menuButton.animate {
  transform: rotateX(-180deg);
  transition: transform 0.5s ease-in-out;
}

.controls button {
  transition: opacity 0.3s ease;
  opacity: 0.4;
}

.controls button.active {
  opacity: 1;
}

.controls button:hover {
  opacity: 1;
}

.logo {
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
  pointer-events: all;
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .controls,
  .menuIsVisible .controls {
    width: fit-content;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
