.feature p {
  padding: 22px;
}

.feature.description {
}

.media {
  height: 80vh;
  width: 100dvw;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .media {
    height: auto;
    width: 100vw;
  }

  .feature p {
    padding: 22px 25%;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
