.container {
  width: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media_container {
  width: auto;
  height: 100%;
}

.title p {
  margin-bottom: 0 !important;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    height: auto;
  }

  .media_container {
    width: 100%;
    height: auto;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
