.marquee_outer {
  overflow: hidden;
  line-height: 1;
  max-width: 100%;
}

.marquee_inner {
  flex-direction: row;
  width: 100%;

  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.marqueeText.isOverflowing p::after {
  content: "→";
  position: relative;
  margin-left: 6px;
}

:global(.MEASURE).isOverflowing p::after {
  content: "→";
  position: relative;
  margin-left: 6px;
}
