main.main {
  min-height: calc(100vh - var(--header-height));
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
}

.cover_media {
  position: relative;
  z-index: 0;
  height: var(--content-vh);
}

.cover_media_copyright {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  display: flex;
  gap: 10px;
  z-index: 10;
  align-items: center;
}

.cover_media_copyright_button:hover + .cover_media_copyright_text {
  opacity: 1; /* or whatever value you want */
}

.label {
  position: absolute;
  right: var(--margin);
  bottom: var(--margin);
}

.title_container {
  pointer-events: none;
  z-index: 1;
  position: relative;
  min-height: var(--content-vh);

  position: fixed;
  mix-blend-mode: difference;
  color: #fff;
  top: calc(100vh - var(--content-vh));
  width: 100vw;
  user-select: none;
}

.author {
  position: absolute;
  bottom: calc(var(--margin) * 3) !important;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  text-transform: uppercase;
  text-align: center;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.title p {
  margin-bottom: 0;
}

.articleImage {
  position: sticky !important;
  top: calc(var(--header-height) + var(--filter-height));
  /* height: calc(100vh - var(--header-height) - var(--filter-height)) !important; */
  object-fit: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.longcopy {
  padding-top: calc(var(--margin) * 3) !important;
  align-self: start;

  padding: 0 calc(100% / 12);
}

.mediaPair {
  padding-bottom: calc(var(--margin) * 3);
}

.mediaPair.second {
  margin-bottom: var(--margin-end);
}

.mediaPair.first .articleImage {
  grid-column: 15 / 23 !important;
}

.mediaPair.first .longcopy {
  grid-column: 2 / 12 !important;
}

.quote {
  margin-bottom: 100px;
}

.quote h2 {
  text-transform: none !important;
}

.mediaPair.second .articleImage {
  grid-column: 4 / 10 !important;
}

.mediaPair.second .longcopy {
  grid-column: 14 / 24 !important;
}

.doubleFeature {
  height: calc(100vh - var(--header-height) - var(--filter-height));
  margin-bottom: var(--margin-end);
}

.doubleFeature div {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}

.author_portait {
  width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: calc(var(--margin-end));
}

.author_info {
  margin-top: 75px;
  margin-bottom: 75px;
  background: transparent !important;
  width: 50%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding: 0 calc(100vw / 12) !important;
}

.author_info div {
  backdrop-filter: none;
}

.text {
  /* margin-top: calc(var(--margin) * 3); */
  width: 50%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding: 0 calc(100vw / 12) !important;
  margin-bottom: 150px;
}
