main.main {
  min-height: calc(100vh - var(--header-height));
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
}

.cover_media {
  position: relative;
  z-index: 0;
  height: var(--content-vh);
}

.label {
  position: absolute;
  right: var(--margin);
  top: var(--margin);
}

.title_container {
  pointer-events: none;
  z-index: 1;
  position: relative;
  min-height: var(--content-vh);

  position: fixed;
  mix-blend-mode: difference;
  color: #fff;
  top: calc(100vh - var(--content-vh));
  width: 100vw;
  user-select: none;
}

.author {
  position: absolute;
  bottom: calc(var(--margin) * 3) !important;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  text-transform: uppercase;
  text-align: center;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.title p {
  margin-bottom: 0;
}

.articleImage {
  position: sticky !important;
  top: calc(var(--header-height) + var(--filter-height));
  /* height: calc(100vh - var(--header-height) - var(--filter-height)) !important; */
  object-fit: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mediaPair {
  padding-bottom: calc(var(--margin) * 3);
}

.mediaPair.second {
  margin-bottom: var(--margin-end);
}

.mediaPair.first .articleImage {
  grid-column: 15 / 23 !important;
}

.mediaPair.first .longcopy {
  grid-column: 2 / 12 !important;
}

.quote {
  margin-bottom: 100px;
  z-index: 30;
}

.quote h2 {
  text-transform: none !important;
}

.mediaPair.second .articleImage {
  grid-column: 4 / 10 !important;
}

.mediaPair.second .longcopy {
  grid-column: 14 / 24 !important;
}

.doubleFeature {
  position: relative;
  z-index: 30;
  height: calc(100vh - var(--header-height) - var(--filter-height));
  margin-bottom: var(--margin-end);
}

.doubleFeature > div,
.doubleFeature > div > div,
.doubleFeature > div > div > div,
.doubleFeature > div > div > div > div,
.doubleFeature > div > div > div > div > div {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}

.label {
  position: absolute !important;
  top: var(--margin) !important;
  right: var(--margin) !important;
  width: fit-content !important;
  z-index: 10;
}

.author_portait {
  width: 300px;
  position: relative;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: calc(var(--margin-end));
  margin-bottom: calc(var(--margin-end));
}

.author_info {
  position: relative;

  display: flex;
  flex-direction: column;

  width: var(--width-longcopy);
  max-width: var(--max-width-longcopy);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: calc(var(--margin-end));
  z-index: 30;

  background: transparent !important;

  padding: 0;
}

.author_info div {
  backdrop-filter: none;
}

.text {
  position: relative;

  margin: 0 auto; /* center container */
}
.longcopy {
  display: flex;
  flex-direction: column;
  align-items: center; /* center children horizontally */
  z-index: 30;
  position: relative;
  max-width: var(--max-width-longcopy);
  margin: 0 auto;
}
