main.main {
  min-height: calc(100vh - var(--header-height));
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
}

.cover_media {
  position: relative;
  z-index: 0;
  height: 80vh !important;
}

.label {
  position: absolute;
  right: var(--margin);
  top: var(--margin);
}

.title_container {
  pointer-events: none;
  z-index: 1;
  position: relative;
  min-height: 80vh;

  position: fixed;
  mix-blend-mode: difference;
  color: #fff;

  width: 100vw;
  user-select: none;
}

.author {
  position: absolute;
  bottom: 72px !important;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  text-transform: uppercase;
  text-align: center;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  padding: 0 var(--margin);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
}

.title p {
  margin-bottom: 0;
}

.mediaPair {
  padding-bottom: calc(var(--margin) * 3);
}

.mediaPair.second {
  margin-bottom: var(--margin-end);
}

.quote {
  margin-bottom: 100px;
  z-index: 30;
}

.quote h2 {
  text-transform: none !important;
}

.label {
  position: absolute !important;
  top: var(--margin) !important;
  right: var(--margin) !important;
  width: fit-content !important;
  z-index: 10;
}

.author_portait {
  width: 300px;
  width: var(--width-longcopy);
  position: relative;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin-top: calc(var(--margin-end));
  margin-bottom: calc(var(--margin-end));
}

.author_info {
  position: relative;

  display: flex;
  flex-direction: column;

  width: var(--width-longcopy);
  max-width: var(--max-width-longcopy);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: calc(var(--margin-end));
  z-index: 30;

  background: transparent !important;

  padding: 0;
}

.author_info div {
  backdrop-filter: none;
}

.text {
  position: relative;

  margin: 0 auto; /* center container */
}

.double_feature {
  margin-bottom: var(--margin-end);
}

@media screen and (min-width: 769px) {
  .cover_media {
    height: var(--content-vh) !important;
  }
  .title_container {
    min-height: var(--content-vh);
    top: calc(100vh - var(--content-vh));
  }
  .author {
    bottom: calc(var(--margin) * 3) !important;
  }

  .author_info {
    margin: 20% auto !important;
    padding-bottom: 0 !important;
  }
}
