#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-bottom: 36px;
}

.wheel_container {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 1s;
}

.media_container {
  position: absolute;
  height: auto;

  max-width: 600px;
  max-height: 600px;
  width: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-self: center;
}

.marker {
  width: 8px;
  height: 8px;
  background: var(--foreground);
  cursor: pointer;
  transition: 0.2s;
}

.marker:hover {
  background: #cecece;
}

.marker.current {
  background: #cecece;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
