#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-bottom: 36px;
}

:global(body.is_safari) .wheel_container,
:global(body.is_safari) .wheel,
:global(body.is_safari) .media_container {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.wheel_container {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  pointer-events: none; /* Seems to fix hover media on safari; */

  /* transform-style: preserve-3d; */
}

.wheel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  backface-visibility: visible;
  transform-style: preserve-3d;
  will-change: transform;
  /* transition: transform 1s; */
}

.media_container {
  position: absolute;
  height: auto;

  width: 80vw;
  max-height: 100%;
  /* width: auto; */
  height: 100%;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform-style: preserve-3d;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-self: center;
  margin-top: 36px;
}

.marker {
  width: 8px;
  height: 8px;
  background: var(--foreground);
  cursor: pointer;
  transition: 0.2s;
}

.marker:hover {
  background: #cecece;
}

.marker.current {
  background: #cecece;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .media_container {
    width: 42vw;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
