.longcopy {
  width: var(--width-longcopy) !important;
  position: relative;
  max-width: var(--max-width-longcopy);
  min-width: var(--min-width-longcopy);
  margin: 0 auto;
}

.longcopy:last-of-type {
  /* margin-bottom: var(--margin-end); */
}
