.main {
  padding: 0;
}

.blurContainer {
  border-top: 1px solid #000;
}

.mediaPair {
  padding: var(--margin);
}

.mediaPair > :first-child {
  grid-column: 2 / 8;
}
.mediaPair > :last-child {
  max-height: 550px;
  max-width: 550px;
  height: auto;
  width: auto;
  place-self: center;
}

.bio {
  padding: var(--margin);
}

.cover {
  position: sticky !important;
  top: calc(var(--header-height) + var(--filter-height)) !important;
  height: calc(100vh - (var(--header-height) + var(--filter-height))) !important;
  width: 100vw;
  border-top: 1px solid #000;
}

.doubleFeature {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}

.doubleFeature div {
  height: calc(100vh - var(--header-height) - var(--filter-height));
}

.cover .coverImage > img {
  object-position: top center !important;
}

.cover .openCall {
  padding: var(--margin) !important;
  position: absolute;
  z-index: 2;
  border: none !important;
}

.satellite {
  height: 80vh !important;
  margin: 10vw 0;
}
