/* Largest: {h1, font-size-1} */
/* Smallest: {h5, font-size-5} */

:root {
  --font-size-1: 26.25rem;
  --line-height-1: 1;
  --letter-spacing-1: -3.125rem;
  --paragraph-spacing-1: 0;

  --font-size-2: 1.38rem;
  --line-height-2: 1.38rem;
  --letter-spacing-2: 0;
  --paragraph-spacing-2: 30px;

  --font-size-3: 1rem;
  --line-height-3: 1.13rem;
  --letter-spacing-3: 0.019rem;
  --paragraph-spacing-3: 0;

  --font-size-longcopy: 0.81rem;
  --line-height-longcopy: 0.94rem;
  --letter-spacing-longcopy: 0.019rem;
  --paragraph-spacing-longcopy: 10px;
  --max-width-longcopy: 750px;
  --min-width-longcopy: 450px;
  --width-longcopy: 80vw;

  --font-size-4: 0.81rem;
  --line-height-4: 0.94rem;
  --letter-spacing-4: 0.019rem;
  --paragraph-spacing-4: 0;
  --paragraph-width-4: calc((50vw - (50vw / 12)) / 2 - (2 * var(--margin)));
  --max-width-4: 350px;

  --font-size-footnote: 0.625rem;
  --line-height-footnote: 0.75rem;
  --letter-spacing-footnote: 0;
  --paragraph-spacing-footnote: 0px;

  --font-size-5: 6px;
  --line-height-5: 8px;
  --letter-spacing-5: 0.019rem;
  --paragraph-spacing-5: 0;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.45-450.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.45-450I12.woff2") format("woff2");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.45-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginM";
  src: url("/fonts/HBMarginMWebv0.45-500I12.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginS";
  src: url("/fonts/HBMarginSWebv0.45-375.woff2") format("woff2");
  font-weight: 375;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HBMarginS";
  src: url("/fonts/HBMarginSWebv0.45-375I12.woff2") format("woff2");
  font-weight: 375;
  font-style: italic;
  font-display: swap;
}

h1,
[typo="h1"] {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-spacing-1);

  font-family: HBMarginS, "Helvetica Neue", Arial, sans-serif;
  font-weight: 375;
}

h1 p,
[typo="h1"] p {
  margin-bottom: var(--paragraph-spacing-1);
}

h2,
[typo="h2"] {
  font-size: var(--font-size-2) !important;
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);

  font-family: HBMarginS, "Helvetica Neue", Arial, sans-serif;
  font-weight: 375;
}

h2 p,
[typo="h2"] p {
  margin-bottom: var(--paragraph-spacing-2);
}

h3,
[typo="h3"] {
  font-size: var(--font-size-3) !important;
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-3);

  font-family: HBMarginS, "Helvetica Neue", Arial, sans-serif;
  font-weight: 375;
}

h3 p,
[typo="h3"] p {
  margin-bottom: var(--paragraph-spacing-3);
}

h4,
[typo="h4"] {
  font-size: var(--font-size-4) !important;
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-spacing-4);

  font-family: HBMarginM, "Helvetica Neue", Arial, sans-serif;
  font-weight: 450;
}

h4 p,
[typo="h4"] p {
  margin-bottom: var(--paragraph-spacing-4);
}

h5,
[typo="h5"] {
  all: unset;
  font-size: var(--font-size-5) !important;
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-spacing-5);

  font-family: HBMarginM, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

h5 p,
[typo="h5"] p {
  all: unset;
  margin-bottom: var(--paragraph-spacing-5);
  font-size: var(--font-size-5);
}

[typo="longcopy"] {
  font-size: var(--font-size-longcopy);
  line-height: var(--line-height-longcopy);
  letter-spacing: var(--letter-spacing-longcopy);
}

[typo="longcopy"] p {
  padding-bottom: var(--paragraph-spacing-longcopy);
  width: var(--width-longcopy);
  max-width: var(--max-width-longcopy);
  /* min-width: var(--min-width-longcopy); */
}

[typo="footnote"] {
  font-size: var(--font-size-footnote);
  line-height: var(--line-height-footnote);
  letter-spacing: var(--letter-spacing-footnote);
  font-family: HBMarginM, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

[typo="footnote"] p {
  margin-bottom: var(--paragraph-spacing-footnote);
}

@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  :root {
    --font-size-2: clamp(2.25rem, 1.804rem + 0.543vw, 2.75rem);
    --line-height-2: clamp(2.5rem, 1.804rem + 0.543vw, 3rem);

    --font-size-3: clamp(1.187rem, 0.839rem + 0.272vw, 1.437rem);
    --line-height-3: clamp(1.312rem, 0.964rem + 0.271vw, 2.5rem);

    --font-size-longcopy: clamp(0.938rem, 0.59rem + 0.271vw, 1.187rem);
    --line-height-longcopy: clamp(1.8rem, 1.383rem + 0.386vw, 2.25rem);

    --font-size-5: 8px;
    --line-height-5: 10px;

    --max-width-longcopy: 750px;
    --min-width-longcopy: 450px;
    --width-longcopy: calc(50vw - 4 * (50vw / 12));
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
