:root {
  --background: #ffffff;
  --foreground: #000000;

  --margin: 12px;
  --margin-negative: calc(-1 * var(--margin));

  --blur: 40px;
  --header-height: 32px;
  --filter-height: 40px;

  --content-vh: calc(100vh - (var(--header-height) + var(--filter-height)));

  --gap: 1px;

  --caption-gap: 24px;
  --margin-end: 300px;

  --text-indent: 65px;
}

[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
}

[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="light"] {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  font-size: 10px;
  line-height: 1;
  overscroll-behavior: none;
}

body {
  margin: 0;

  color: var(--foreground);
  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  font-family: HBMarginS, "Helvetica Neue", Arial, sans-serif;
  font-weight: 375;
}

main {
  padding: var(--margin);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: inherit;
}

a,
a:visited,
button,
button:visited {
  color: var(--foreground);
  text-decoration: none;
  font-size: unset;
  font-family: unset;
  text-align: unset;
  background: transparent;
  border: none;
  cursor: pointer;
}

input,
fieldset,
label {
  all: unset;
}

/* // Hover Events, Desktop Only */
@media (hover: hover) and (pointer: fine) {
}

footer a,
footer a:visited {
  color: var(--background);
}

sup {
  background: #000;
  border-radius: 50%;
  color: #fff !important;
  font-size: var(--font-size-footnote);
  width: 14px;
  height: 14px;
  position: relative;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-indent: 0px;
  vertical-align: middle;
  transform: translateY(-1.25px);
  margin-left: 3px;
  margin-right: 2px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

sup a,
sup a:visited {
  color: #fff;
  display: inline;
  /* width: 20px; */
}

sup:hover {
  opacity: 0.5;
}

ol sup {
  width: 12px;
  height: 12px;
  font-size: var(--font-size-footnote);
  transform: translateY(-1px);
}

mux-player {
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;
  --gradient-shadow: none;
  --media-loading-indicator-display: none;
  --media-background-color: var(--background);
  --media-background-color: transparent;
  pointer-events: none !important;
  background-color: var(--background) !important;
  background: var(--background) !important;
}

mux-player::part(control-bar) {
  opacity: 1 !important;
  --gradient-steps: none !important;
}

mux-player .mux-spinner {
  display: none !important;
}

.not-allowed {
  opacity: 0.4;
  pointer-events: none;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
