:root {
  --background: #ffffff;
  --foreground: #000000;

  --margin: 8px;
  --margin-small: calc(var(--margin) * (2 / 3));
  --margin-negative: calc(-1 * var(--margin));

  --blur: 20px;
  --header-height: 25px;
  --filter-height: 25px;

  --content-vh: calc(100vh - (var(--header-height) + var(--filter-height)));

  --gap: 1px;

  --caption-gap: 24px;
  --margin-end: 150px;

  --text-indent: 65px;

  --showcase-width: 50vw;
}

[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
}

[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="light"] {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  font-size: 10px;
  line-height: 1;
  overscroll-behavior: none;
  -webkit-text-size-adjust: none !important;
}

body {
  margin: 0;

  color: var(--foreground);
  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-size-adjust: none;
  font-size-adjust: none;

  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  font-family: HBMarginS, "Helvetica Neue", Arial, sans-serif;
  font-weight: 375;
}

::selection {
  background: black;
  color: white;
}

main {
  padding: var(--margin);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: inherit;
}

a,
a:visited,
button,
button:visited {
  color: var(--foreground);
  text-decoration: none;
  font-size: unset;
  font-family: unset;
  text-align: unset;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cookieConsent a,
.cookieConsent a:visited,
.cookieConsent button,
.cookieConsent button:visited {
  color: #fff;
  opacity: 0.4;
  transition: 0.3s ease;
}

.cookieConsent a:hover,
.cookieConsent button:hover {
  opacity: 1;
}

input,
fieldset,
label {
  all: unset;
}

/* // Hover Events, Desktop Only */
@media (hover: hover) and (pointer: fine) {
}

footer a,
footer a:visited,
footer .button {
  color: var(--background);
  transition: 0.3s ease-in-out;
}

footer a:hover,
footer .button:hover {
  opacity: 0.4;
}

sup {
  font-size: 12px;
  padding: 0 2px;

  justify-content: center;

  vertical-align: middle;

  position: relative;
  top: -1px;

  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

sup:hover {
  opacity: 0.5;
}

ol sup {
  font-size: 12px;
  padding-left: 0px;
}

mux-player {
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;
  --gradient-shadow: none;
  --media-loading-indicator-display: none;
  --media-background-color: var(--background);
  --media-background-color: transparent;
  pointer-events: none !important;
  background-color: transparent !important;
  background: transparent !important;
}

mux-player::part(control-bar) {
  opacity: 1 !important;
  --gradient-steps: none !important;
}

mux-player .mux-spinner {
  display: none !important;
}

.not-allowed {
  opacity: 0.4;
  pointer-events: none;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: opacity;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* Phones */
@media screen and (min-width: 320px) {
}

@media (max-height: 500px) and (orientation: landscape) {
  :root {
    --showcase-width: 20vw;
  }
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  :root {
    --blur: 40px;
    --showcase-width: 20vw;
    --margin: 12px;
    --margin-end: 300px;

    --header-height: 32px;
    --filter-height: 40px;
  }

  sup {
    font-size: 18px;
    padding: 0 2px;
    top: -1px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
