.headline {
  border-top: 1px solid #000;
  padding: var(--margin);
}

.title_container {
  display: flex;
  gap: var(--margin);
}

.title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

.title p {
  margin-bottom: 0 !important;
}

.label {
  position: relative;
  top: 5px;
}

.readMore {
  text-align: center;
}
