.headline {
  border-top: 1px solid #000;
  padding: var(--margin);
  position: relative;
}

.headline.isExpandable {
  cursor: pointer;
}

.title_container {
  display: flex;
  gap: var(--margin);
}

.title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  margin-left: var(--margin);
}

.title p {
  margin-bottom: 0 !important;
}

.label {
  position: relative;
  top: 5px;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.readMore {
  text-align: center;
}

.icon {
  height: 16px;
  width: 16px;
  /* aspect-ratio: 1; */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-left: auto;
  position: relative;
  transform-origin: center !important;
  top: 0px;
  /* position: absolute; */
  /* top: var(--margin); */
  /* right: var(--margin); */
}
.icon svg {
  width: 16px;
  height: 16px;
}

.headline.expanded .icon {
  transform: rotate(180deg);
  fill: #fff;
}

.runningText {
  max-width: 550px;
}

.headline .runningText {
  opacity: 0;
  transition: opactiy 0.3s ease-in-out;
}

.headline.expanded .runningText {
  opacity: 1;
}
.runningText_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: calc(100% / 24);
  padding-left: calc(100% / 24);
  padding-right: calc(100% / 24);
}

.headline a {
  color: #fff !important;
}

.headline.expanded .label {
  background: #fff !important;
  color: #000 !important;
}
