.container {
  position: relative;
  width: 100%;
  height: 100%; /* takes up the parent’s full height */
  display: flex;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
  /* overflow: hidden; */
}

.marker_wrapper {
  height: 1px;
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 1px;
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
}

.marker {
  background: #fff;
  width: 100%;
}
.marker.current {
  background: #000;
}

.slideshow_copyright,
.slideshow_copyright > div {
  height: 10px !important;
  bottom: 20px !important;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
