.caption {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 2px;
  position: absolute;

  color: #000;
  width: 100%;
}

.caption_text {
  position: absolute;
  transition: opacity 0.4s;
  height: 13px !important;
}
